<h2>Signup</h2>

<form action="/add" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="JonSnow">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">

    {{#if errorMsg}}
    <div style="color: red">{{ message }}</div>
    {{/if}}
    <br><br>

    <button>Create account</button>

  
</form>