<div class="list">
    <div class="container">
        <h2>{{employees}}</h2>
        <div class="row">
            {{#each allUsers}}
            <div class="col-md-4">
                <p><strong>Name:</strong> {{username}}</p>
                <p><strong>Position:</strong> {{role}}</p>
                <div class="row justifying-content-between">
                    <div class="col-md-6 d-flex">
                        <form method="POST" action="/{{id}}/delete">
                            <button type="submit" class="btn btn-danger btn-sm">Delete profile</button>
                        </form>
                    </div>
                </div>
                <br>
            </div>
            {{/each}}
        </div>
        <a class="btn btn-secondary btn-sm" href="/profile">Go back</a>
    </div>
</div>