 
 
 
 
 
 
 
<p><a href="/">Home</a> | 
<a href="/create">Create user</a> |  
<a href="/auth/list-users">List user</a> |
<a href="/ta-access">T.A. Access</a> |
<a href="/auth/logout">Log Out</a> |

</p>