<div class="container">
  <img src="https://media.giphy.com/media/1HPUSulSOHDpe/giphy.gif" alt="">
  <audio id="myAudio">
    <source  src="/sounds/bright.mp3" type="audio/mp3">
  </audio>
  
  <script>
    var x = document.getElementById("myAudio");
    function playAudio() {
      x.play();
    }
    function pauseAudio() {
      x.pause();
    }
    playAudio();
  </script>

</div>