<a href="/auth/logout">Log out</a>
<a href="/coursesCreate">create a course</a>
<a href="/auth/coursesta">edit course</a>



<div class="wrapper">
    {{#each users}}
    <div class="employee">
        <span>Username: {{username}}</span>
        <span>Role: {{role}}</span>
        <a href="/auth/edit/{{_id}}">Edit</a>
    </div>
    {{/each}}
</div>