<a href="/">Go Home</a>


<div class="wrapper">
    {{#each courses}}
    <div class="employee">
        <span>name: {{name}}</span>
        <span>description: {{description}}</span>
    <a href="/auth/coursesEdit{{_id}}">edit</a>
    </div>
    {{/each}}
</div>