<form id="form" action="/coursesCreate" method="POST">

    <label for="username">name</label>
    <br>
    <input type="text" name="name" placeholder="User name">

    <br>
    <br>
    <label for="password">description</label>
    <br>
    <input type="text" name="description" placeholder="Password">
    <br>

    <button>create</button>
</form>