<h2>Create an account</h2>

<form action="/users/create" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Your name">
    <br><br>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username">
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password">
    <br><br>
    <label for="role">Role</label>
    <input type="role" name="role" placeholder="A role">

    {{#if message}}
    <p style="color: red">{{ message }}</p>
    {{/if}}

    <br><br>

    <button>Create account</button>