<div class="row justify-content-center">
  <div class="col-md-6">

    <h1>Your dashboard</h1>
    <p>Welcome, {{{user.name}}}!</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6 d-flex">
    <a href="/user/edit/{{user._id}}" class="btn btn-dark flex-btn">Edit your profile</a>
    <a href="/user-db" class="btn btn-dark flex-btn">Access the user database</a>
    <a href="/logout" class="btn btn-dark flex-btn">Log out</a>
  </div>
</div>