<h2>Details of {{name}}</h2>

<div class="container">

    <div class="row">

        <div class="col-12">

            <img src="{{profileImg}}">

        </div>

        <div class="col-12">

            <p>{{role}}</p>

        </div>

        <div class="col-12">

            <p>{{description}}</p>

        </div>

    </div>


</div>

<hr>


<a href="/users-list">Go back to the list</a>