<form validated action="/edit" method="post">
    <p>
        Update your email:
        <input value="{{email}}" name="email" type="email" required>
    </p>
<p>
        <input type="submit">
    </p>
    </form>