<h2>Add a new employee to the database</h2>

<form action="/employees/create" method="post">

  <p>Username:</p>
  <input type="text" name="theUsername">

  <p>Password:</p>
  <input type="text" name="thePassword">

  <p>Role:</p>
  <input type="text" name="theRole">

  <br><br>
  <input type="submit" value="Submit">
</form>