<h1>INICIA SESION</h1>
<form action="/login" method="POST">
<input type="text" placeholder="tu username" name="username"/>
<br>
<input type="password" placeholder="tu password" name="password">
<br>
<br>
<input type="submit">
</form>