<div class="container">
  <div class="card">
    <h1>Log into your account</h1>
    <form action="/auth/login" method='POST'>
      <input type="text" placeholder="username" required='true' name='username'>
      <br>
      <input type="password" placeholder="password" required='true' name='password'>
      <br>
      <br>
      <button type="submit">Log in</button>
    </form>
  </div>
</div>