<h2>LogIn</h2>

<form action="/login" method="post">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Your password">
<input type="submit" value="Log In">
</form>