{{#if message}}
  <div class="errorMessage">{{message}}</div>
{{/if}}

<form id="form" action="/auth/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required>
  </div>
  <button type="submit">Log in</button>
</form>