<h1>login page</h1>
<form action="/login" method="POST">
  <p>
    username:
    <input type="text" name="username" required>
  </p>
  <p>
    email:
    <input type="email" name="email" required>
  </p>
  <p>
    password:
    <input type="password" name="password">
  </p>

  <input type="submit" value="login">
</form>