<form validated action="/login" method="post">
<p>
  Email
  <input name="email" type="email" required>
</p>
<p>
  Password
<input name="password" type="password" required>
</p>
<p>
  <input type="submit">
</p>
</form>