<h1>LOG IN </h1>
<form action="/login" method="POST">
  <p>
    Username:
    <input type="text" name="username" id="username">
  </p>
  <p>
    Password:
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="LOG IN">
</form>