<h1>Inicia Sesión</h1>
<form action="/login" method="POST">
  <p>
    Email:
    <input type="email" name="email" id="">
  </p>
  <p>
    Password:
    <input type="password" name="password" id="">
  </p>
  <input type="submit" value="Inicia Sesión">
</form>