<div class="container">
    <form action="/login" method='POST'>

    <input type="text" placeholder="Name" name="username">
    <br>
    <br>
    <input type="password" placeholder= "Password" name="password">
    <br>
    <br>
    <button type= "submit">Log in </button>
    
    
    
    
    </form>
</div>