<h1>Log in</h1>
<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Type your username...">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter a password">
    <button>Log in!</button>
    <p style="color: red">{{message}}</p>
</form>