<div class="container">
  <h2>Welcome My Lord
    <span style="color:red">{{user.username}}</span>
  </h2>
  <img src="/images/senate.gif" alt="img">
</div>
<div class="container">
  <br>
  <a href="/auth/addEmployee" class="btn btn-success">Convert Jedi to the Dark Side</a>
  <a href="/" class="btn btn-info">Back</a>
  <a href="/auth/removeEmployee" class="btn btn-danger">Kill Jedi and don't waste energy</a>
</div>

<div class="container">
  <a href="brightSide" class="btn btn-danger">Go to the bright side</a>
</div>