
<form action="/newCourse" method="post">
    <p>
        Escribe el nombre de tu curso:
        <input type="text" name="title">
    </p>
    <p>
        Escribe un resumen de tu curso:
        <input type="text" name="plot">
    </p>
        <input type="submit">
</form>