<p><b>Create a course</b></p>

<form validated action="/newCourse" method="post">
    <p>
        Course name:
        <input value="{{name}}" name="name" type="text" required>
    </p>
    <p>
        <input type="submit">
    </p>
</form>

<p><a href="private">Go back</a></p>