<section class="container">

    <article class="row justify-content-center">
        
        <div class="col-md-9 center">

            <h1>Welcome to Private zone</h1>
            <hr><br>

            <h5>You could create/view/edit users here:</h5><br>
        
            <a href="/create-new" class="btn btn-lg btn-primary btn-block">Create new user</a>
            <br><br>
            {{#each allUsers}}


            <a href="/private/{{this.id}}"><h2 class="nolist">{{this.username}}</h2></a>

            <p>Role: {{role}}</p>

            <form method="POST" action="/{{this.id}}/delete">
            <button type="submit" class="btn btn-lg btn-dark">Delete</button>
            <br><hr>

            </form>
            

            {{/each}}

        </div>
        
    </article>

</section>