<h1>User Profile</h1>
<p><b>Username:</b> {{username}}</p>
<p><b>Role:</b> {{role}}</p>
<p><b>Email:</b> {{email}}</p>
<form action="/{{user._id}}/edit" method="POST"><button type="submit">Edit</button></form>
<p><a href="/private">Back to dashboard</a></p>