<div> 
    {{#if user}}
    <div>
        <h1>Welcome {{user.name}}</h1>
        <img src="https://media.giphy.com/media/cLB6YgcOiYmKRZqk8Z/giphy.gif" alt="You rock.">
        <a href="/">Home</a>
    </div>
    {{/if}}
</div>