<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><strong>Name:</strong> {{name}}</h2>
            <p><strong>Username:</strong> {{username}}</p>
            <p><strong>Role:</strong> {{role}}</p>
            <a class="btn btn-outline-secondary" href="/">Go back</a>
        </div>
    </div>
</div>