<div class="container">
    <h2>{{mainTitle}}</h2>
    <br>
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Username:</strong> {{username}}</p>
    <p><strong>Role:</strong> {{role}}</p>
    <br>
    <a class="btn btn-warning btn-sm" href="/admin-edit">Go back</a>
</div>