<h1>Sign up</h1>

<form action="/signup" method="post">
<input type="text" name="username" placeholder="Username">

<input type="password" name="password1" placeholder="Your password">

<input type="password" name="password2" placeholder="Repeat your password">

<input type="submit" value="Create User">
</form>