<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
<label for="username">Username</label>
<input id="username" type="text" name="username" placeholder="JonSnow">
<br>
<label for="password">Password</label>
<input id="password" type="password" name="password" placeholder="Your password">
<label for="role">Role</label>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Chose role 
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" for="role" name="BOSS">Admin/Boss</a>
    <a class="dropdown-item" for="role" name="DEVELOPER">Developer</a>
    <a class="dropdown-item" for="role" name="TA">Ta</a>
  </div>
</div>
{{#if message}}
    <div class="error-message">{{message}}</div>
{{/if}}    
<br><br>
<button>Create account</button>

<p class="account-message">
    Ya tienes una cuenta ?
    <a href="/login">Login</a>
<p/>
</form>