<form validated action="/signup" method="post">
<p>
  Usuario
  <input name="username" type="text" required>
</p>
<p>
  Correo
<input name="email" type="email" required>
</p>
<p>
  Password
<input name="password" type="password" required>
</p>
<p>
  Repite tu password
<input name="password2" type="password" required>
</p>
<p>
  <input type="submit">
</p>

</form>