<h1>SIGN UP HERE!</h1>

<form action="/signup" method="POST">
<input type="text" placeholder="username" name="username">
<br>
<input type="password" placeholder="create your password" name="password1"/>
<input type="password" placeholder="confirm your password" name="password2"/>
<input type="submit">
</form>