<div class="container">
	
	<h1>SIGN UP</h1>

	<form action="/signup" method="post">
		<input type="text" name="username" placeholder="Tu nombre">
		<input type="password" name="password1" placeholder="Tu contraseña">
		<input type="password" name="password2" placeholder="repite tu contraseña">
		<select name="role">
			<option value="BOSS">Boss</option>
			<option value="DEVELOPER">Developer</option>
			<option value="TA">TA</option>
		</select>
		<input type="submit" value="Enviar">
	</form>




</div>