<form action="/signup" method="post">
  <p>
    Email:
    <input type="email" name="email" id="" required>
  </p>
  <p>
    Username:
    <input type="text" name="username" id="">
  </p>
  <p>
    Password:
    <input type="password" name="password" id="">
  </p>
  <p>
    ROle:
    <input type="radio" name="role" value="BOSS"> Boss <br>
    <input type="radio" name="role" value="TA">TA <br>
    <input type="radio" name="role" value="DEVELOPER">Developer 
  </p>

  <input type="submit" value="registrate">
</form>