<!-- views/auth/signup.hbs -->
<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>
<label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="John">
  <br><br>
<label for="lastname">Lastname</label>
  <input id="lastname" type="text" name="lastname" placeholder="Wick">
  <br><br>
<label for="age">Age</label>
  <input id="age" type="number" name="age" placeholder="99">
  <br><br>
<label for="gender">Gender</label>
  <input id="gender" type="text" name="gender" placeholder="Male/Female">
  <br><br>  
  <label for="interest">Interest</label>
  <input id="interest" type="text" name="interest" placeholder="Movies">
  <br><br>  
  <label for="university">University</label>
  <input id="university" type="text" name="university" placeholder="Uni">
  <br><br>  


  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>