<h1>Crear cuenta</h1>
<form action="/SIGNUP" method="POST">
  <p>
    Email:
    <input type="email" name="email" id="">
  </p>
  <p>
    User:
    <input type="text" name="username" id="">
  </p>
  <p>
    Password:
    <input type="password" name="password" id="">
  </p>
  <p>
    Tipo de Usuario:
    <select name="role" id="">
      <option value="BOSS">Boss</option>
      <option value="DEVELOPER">Developer</option>
      <option value="TA">Teacher Assistant</option>
    </select>
  </p>
  <input type="submit" value="Crear cuenta">
</form>