<h2>Registra a alguien puto</h2>

<form action="/signup" method="POST">
  <p>
    Username:
    <input type="text" name="username" id="username" required>
  </p>
  <p>
    Password:
    <input type="password" name="password" id="password" required>
  </p>
  <p>
    Role:
    <select name="role" id="select">
      <option value="TA">TA</option>
      <option value="DEVELOPER">DEVELOPER</option>
    </select>
  </p>
  <input type="submit" value="Sign up">