<h2>Signup a new member</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="The password">

  <br><br>

  <label for="role">Role</label>
  <select name="role" id="role">
    <option value="BOSS">Boss</option>
    <option value="TA">TA</option>
    <option value="DEVELOPER">Developer</option>
  </select>

  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>
</form>