<div class="row">
  <div class="col-md-6">
    <h1>User List</h1>
    <hr>
    {{#each users}}
    <article>
      <a href="/user/details/{{_id}}">{{name}}</a>
      <div class="row d-flex">
        <a href="/user/edit/{{id}}" class="btn btn-link btn-flex">Edit this entry</a>
      </div>
      <hr>
    </article>
    {{/each}}
    <a href="/dashboard" class="btn btn-dark">Go to dashboard</a>
  </div>
</div>