<form action="/course/add" method="POST">
    <label for="title">Title</label><br>
    <input name="title" placeholder="Enter course title here."/><br><br>
    <label for="description">Description</label><br>
    <input name="description" placeholder="Enter course description here."/><br><br>
    <label for="content">Content</label><br>
    <textarea name="content" placeholder="Enter course contnet here." style="width:400px;height:300px"></textarea><br>
    <button>Add Course</button>
</form>