<section class="create-item container">

    <nav class="boss fixed-top navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarColor03">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/employees/superuser">Employees management</a>
                </li>

            </ul>

        </div>
    </nav>

    <h2>Create</h2>

    <form action="/employees/create" method='post'>

        <div class="form-group">

            <label>Name</label>
            <input type="text" class="form-control" name="name" required>

        </div>

        <div class="form-group">

            <label>Username</label>
            <input type="text" class="form-control" name="username" required>

        </div>

        <div class="form-group">

            <label>Password</label>
            <input type="text" class="form-control" name="password" required>

        </div>



        <div class="form-group">

            <label>Role</label>

            <select name="role">

                <option value="guest" selected>Guest</option>
                <option value="student">Student</option>
                <option value="ta">TA</option>
                <option value="dev">Dev</option>
                <option value="boss">Boss</option>

            </select>

        </div>

        {{#if errorMessage}}

        <p class="alert alert-danger" role="alert">{{errorMessage}}</p>

        {{/if}}

        <button type="submit" class="btn btn-dark">Create</button>

        <a href="/employees/superuser" class="btn btn-red">Cancel</a>

    </form>

</section>