<form action="/employees/{{user._id}}/edit" method="post">
Name: <input type="text" name="username" value={{user.username}} id="">
Password: <input type="text" name="password" id="">
<button>Apply</button>
</form>