<form action="/employees/update/{{ celebrity._id }}" method="post">
    
    <label for="">Name</label>
    <input type="text" name="editedName" id="" value="{{ employee.username }}">

    <label for="">Role</label>
    <input type="text" name="editedOccupation" id="" value="{{ employee.role }}">


    <button type="submit">Save changes</button>

</form>