<form action="/employees/create" method="post">
    
    <label for="">Name</label>
    <input type="text" name="theUserName" id="">

    <label for="">Role</label>
    <input type="text" name="theRole" id="">


    <button type="submit">Save</button>


</form>