<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Username: {{empInfo.username}}</h2>
            <h2>Role: {{empInfo.role}}</h2>
            <hr>
            {{#if isAdmin}}
            <a href="/{{empInfo.id}}/edit" class="btn btn-dark">Edit!</a>
            <a href="/{{empInfo.id}}/delete" class="btn btn-dark">Delete!</a>
            {{/if}}
         </div>
    </div>
</div>

