<h2>{{title}}</h2>

<form action="{{action}}" method="POST">
  <input type="text" name="title" placeholder="Title" value="{{title}}">
  <br>
  <select name="difficulty">
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Hard">Hard</option>
    <option value="Tenemos que poner reggeaton para acabar">Tenemos que poner reggeaton para acabar</option>
  </select> 
  <br>
  <input type="submit" value="{{submit}}">
</form>

<a href="/ta">
  <button>Back</button>
</a>