<h2>{{title}}</h2>

<form action="{{action}}" method="POST">
<input type="text" name="title" placeholder="Title" value="{{courseTitle}}">
<select name="difficulty">
  <option value="Easy">Easy</option>
  <option value="Medium">Medium</option>
  <option value="Hard">Hard</option>
</select>
<input type="submit" value="{{submit}}">
</form>