<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Nueva Empleado</h1>

        <form action="/admin" method="POST">
            <div class="form-group">
                <label for="field1">Nombre</label>
                <input name="name" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group">
                <label for="field2">Nombre de usuario</label>
                <input name="username" type="text" class="form-control" id="field2">
            </div>
            <div class="form-group">
                <label for="field3">Rol</label>
                <input name="role" type="text" class="form-control" id="field3">
            </div>
            <div class="form-group">
                <label for="field4">Contraseña</label>
                <input name="password" type="text" class="form-control" id="field4">
            </div>
            <button type="submit" class="btn btn-info btn-lg btn-block">Crear</button>
        </form>
    </div>
</div>
