
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

        <h2>Add a new employee</h2>
        <form method="POST" action="/admin">
            <div class="form-group">
                <label for="detail1">Username</label>
                <input type="text" class="form-control" id="detail1" name="username">
            </div>
            <div class="form-group">
                <label for="detail1">Name</label>
                <input type="text" class="form-control" id="detail1" name="name">
            </div>
            <div class="form-group">
                <label for="detail1">password</label>
                <input type="password" class="form-control" id="detail1" name="password">
            </div>
            <div class="form-group">
                <label for="detail1">Image</label>
                <input type="text" class="form-control" id="detail1" name="profileImg">
            </div>
            <div class="form-group">
                <label for="detail1">Description</label>
                <input type="text" class="form-control" id="detail1" name="description">
            </div>
            <div class="form-group">
                <label for="detail1">Facebook</label>
                <input type="text" class="form-control" id="detail1" name="facebookId">
            </div>
            <div class="form-group">
                <label for="detail1">Role</label>
                <input type="text" class="form-control" id="detail1" name="role">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>

        </div>
    </div>

</div>