<h1>Welcome to the Admin Page</h1>

<% users.forEach(user => { %>
<div class="row">
  <div class="col-md-4"><strong>Username</strong></div>
  <div class="col-md-4"><strong>Role</strong></div>
  <div class="col-md-4"><strong>Name</strong></div>
</div>
<div class="row">
  <div class="col-md-4"><%= user.username %></div>
  <div class="col-md-4"><%= user.role %></div>
  <div class="col-md-4"><%= user.name %></div>
</div>
<% }); %>