<h1>Alumni Members</h1>
<%users.forEach(e => {%>
  <div class="">
    <h3><%= e.username%></h3>
    <p>Name: <%= e.name%></p>
    <p>Family Name: <%= e.familyName%></p>
    <p>Role: <%= e.role%></p>
  </div>
<%})%>
