<h1>Hi <%= user.name %></h1>
<a href="/team"><button>Team Members</button></a>
<a href="/auth/<%= user._id %>/edit"><button>Edit Profile</button></a>
<a href="/courses"><button>Courses</button></a>
<a href="/auth/logout"><button>Logout!</button></a>
