<h1>Hello <%= user.username %>!</h1>

<h3>User Data</h3>

<p><strong>Name:</strong> <%= user.name %></p>
<p><strong>Family Name:</strong> <%= user.familyName %></p>
<p><strong>Role:</strong> <%= user.role %> </p>