<h2>Add employee</h2>
<form action="/list" method="POST">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" placeholder="Username">
  <br><br>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="Name">
  <br><br>
  <label for="familyName">Last name:</label><br>
  <input type="text" id="familyName" name="familyName" placeholder="Last name">
  <br><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" placeholder="Password">
  <br><br>
  <button type="submit">Add</button>
</form>
