{{#each employee}}
Editar {{username}}
{{/each}}

<form action="/employees/edit{{_id}}" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">

  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <br><br>

  <label for="role">Role</label>
  <select id="role" name="role">
    <option value="BOSS">BOSS</option>
    <option value="DEVELOPER">DEVELOPER</option>
    <option value="TA">TA</option>
  </select>
  <br>
  {{#if message}}
  <div class="error-message" style="background: red; padding: 10px 20px; color: white; font-weight: bold;">
    {{ message }}</div>
  {{/if}}
  <button type="submit">Editar</button>

</form>