<h2>Users</h2>

<ul>
    <% users.forEach((user) => { %>
        <li>
            <%= user.name %>
                <form action="/<%= user._id %>/delete" method="POST">
                    <button type="submit">Delete </button>
                </form>
        </li>
        <%}); %>
</ul>
<br>
<a href=" /employees-new ">Add a new employee</a>
<br>