<div class="flex-column">
  <form action="/staff/new" method="POST" class="flex-column">

    <div class="flex">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="vladCrazy">
    </div>

    <div class="flex">
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" placeholder="Vladimir">
    </div>
    
    <div class="flex">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="12345678">
    </div>
    
    <div class="flex">
      <label for="role">Role:</label>
      <select id="role" type="text" name="role">
        <option value="Student">Student</option>
        <option value="Developer">Developer</option>
        <option value="TA">TA</option>
        <option value="Boss">Boss</option>
      </select>
    </div>

    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}
  

    <button type="submit">Create employee</button>
  </form>
</div>