<h1>Bienvenido boss, da de alta un nuevo employee</h1>
<form action="/employees/new" method="POST">
  <input type="text" placeholder="Nombre" name="name" >
  <input type="text" placeholder="E-mail" name="email" >
  <input type="text" placeholder="Role" name="role" >
  <input type="password" placeholder="Contraseña" name="password">
  <input type="submit">