<h2>New Employee</h2>

<form action="/employees/new" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <br><br>
    <label for="password">Password:</label>
    <input type="text" name="password">
    <br><br>
    <label for="role">Role:</label>
    <input type="text" name="role">
    <br><br>
    <input type="submit">
</form>