<form action="/users/new" method="post">
    <input placeholder="username" type="text" name="username" >
    <input placeholder="name" name="name" type="text">
    <input placeholder="familyName" name="familyName" type="text">
    <input placeholder="role" name="role" type="text">
    <input type="submit">
</form>


