<h1>HI BOSS TIRSO</h1>

<h2>Nuevo empleado</h2>

<form action="/profile/boss" method="post">

    <label for="name">Nombre</label>
    <input name="name" value="{{name}}" type="text">

    <label for="password">Password</label>
    <input name="password" value="{{password}}" type="text">

    <label for="role">Role</label>
    <input name="role" value="{{role}}" type="role">

    <button type="submit" class="btn btn-dark btn-sm">Crear empleado</button>

</form>

<a class="btn btn-dark non-radius btn-sm" href="/profile">Volver</a>