<form action="/private/edit/{{user._id}}" method="post">
 <label for="">Username:</label>
 <input type="text" name="username" value="{{user.username}}">

 <label for="">Rol:</label>
 <input type="text" name="roles" value="{{user.roles}}">

 <button type="submit">EDIT</button>
</form>