<div>Private page</div>
  {{#each user}}
  <p>{{this.username}}</p>
  <form action="/private/edit/{{_id}}" >
  <button type="submit">Edit</button>
  </form>
  <form action="/private/delete/{{_id}}" >
  <button type="submit">Delete</button>
  </form>

  {{/each}}
