<h1>Employee list</h1>
<div class="group-list">
  {{#each employees}}
  <div class="employee">
    <h2>User: {{this.username}}</h2>
    <p>Role: {{this.role}}</p>
    <form action="/admin/employees/delete/{{this._id}}" method="POST">
      <input type="submit" value="Delete">
    </form>
  </div>
  {{/each}}
</div>
<a href="/admin/employees/new">Create a new employee</a>