<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="main-nav-content">
    <ul class="navbar-nav mr-auto">
      {{#if passportSession}}
      <li class="nav-item active">
        <a class="nav-link float-right" href="/users/list">See users</a>
      </li>
      {{#isBOSS passportSession}}
        <li class="nav-item">
          <a class="nav-link float-right" href="/users/create/user">Create user</a>
        </li>
      {{/isBOSS}} 

      {{#isTA passportSession}}
         <li class="nav-item">
          <a class="nav-link float-right" href="/courses/create">Create course</a>
        </li>
      {{/isTA}}

    <li class="nav-item">
      <a class="nav-link disabled" href="/courses/list">see courses available {{courses.length}}</a>
    </li>

      {{else}}

      <li class="nav-item active">
        <a class="nav-link" href="/sessions/create">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/create">Register</a>
      </li>
      {{/if}}

    </ul>
  </div>
  <ul class="navbar-nav mr-auto">

    {{#if passportSession}}
    <li class="nav-item">
      <a class="nav-link disabled" href="/">{{ passportSession.username }}({{passportSession.role}})</a>
    </li>
    <form action="/sessions/delete" method="POST">
    <li class="nav-item">
      <button type="submit" class="btn btn-danger float-right">Log out</button>
    </li>
    </form>
    {{/if}}
  </ul>
</nav>