<h2>Add a new employe</h2>

<form action="/employes/new" method="post">
    
    <label for="">Username</label>
  	<br>
  	<input type="text" name="username">
  	<br>
  	<label for="">Role</label>
    <br>
    <select name="role" id="role">
      <option value="Developper" selected>Developper</option>
      <option value="TA">TA</option>
      <option value="Boss">Boss</option>
    </select>
	  <br>
	  <label for="">Password</label>
	  <br>
  	<input type="text" name="password">
	  <br>
  	<button type="submit">ADD</button>

</form>