body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: radial-gradient(
    rgba(43, 38, 38, 0.413) 20%,
    rgba(227, 215, 215, 0.502) 80%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: rgb(136, 63, 125);
  font-size: 40px;
  margin: 20px;
}

a {
  color: rgb(179, 18, 93);
  font-size: 16px;
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  text-align: center;
  list-style-type: none;
  margin: 20px;
  font-size: 16px;
}

input,
select {
  border-radius: 15px;
  background: rgb(32, 103, 178);
  color: whitesmoke;
  text-align: center;
  height: auto;
  width: auto;
  margin: 20px;
  padding: 10px;
}

input::placeholder {
  color: aliceblue;
  background: rgb(32, 103, 178);
}

button {
  border-radius: 15px;
  background: lightcoral;
  color: whitesmoke;
  text-align: center;
  height: auto;
  width: auto;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.exp {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(89, 97, 34, 0.557);
  border-radius: 50%;

  &:before {
    content: "";
    width: inherit;
    height: inherit;
    border: 25px solid yellow;
    border-radius: inherit;
    position: absolute;
    z-index: -10;
    opacity: 0;
    animation: 5s expand cubic-bezier(0.69, 0, 0, 1) infinite;
    animation-delay: 1s;
  }
}

@keyframes expand {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 750%;
    height: 750%;
    opacity: 0;
    border-width: 2px;
  }
}
