<form action="/courses/add" method="POST" id="form">
    <h2 class="form-header">Update Courses for company </h2>

    <label for="title">Title</label>
    <input
            type="text" name="title"
            placeholder="Enter course's title"
            value="{{ course.title }}"
            required
            maxlength="50"
    >
    <label for="description">Description</label>
    <input
            type="text" name="description"
            placeholder="Enter course's description"
            value="{{ course.description }}"
            required
            maxlength="20"
    >
    <label for="Length">Length</label>
    <select class="role-select" name="length" value="{{course.length}}">
        <option value="1 week">1 week</option>
        <option value="1 month">1 month</option>
        <option value="1 year">1 year</option>
    </select>

    {{#if course.message }}
        <div class="error-message">{{ course.message }}</div>
    {{/if}}

<button>Create user</button>

<p class="account-message">
    Return to main page: <a href="/main">Click here</a>
</p>
</form>