<form action="/courses/add" method="post">
    <label>Title: </label>
    <input type="text" name="title">

    <label>Description:</label>
    <input type="text" name="description">

    <label>Content: </label>
    <input type="text" name="content">

    <label>Resource: </label>
    <input type="text" name="resource">

    <button type="submit">Add New Course</button>
</form>