<h1>Add a new Course</h1>

<form action="/courses/addCourse" method="post">
<label for="">Name:</label>
<input type ="text" name="name">

<label for="">Price:</label>
<input type="text" name="price">

<button type="submit">Add</button>


</form>