<div class="content">

    <h2 class="display-5">Estos son los cursos actuales</h2>

    <p><strong>Título: </strong> {{title}}</p>
    


    {{!-- <div>
        <a class="btn btn-outline-dark" href="actions/details/{{id}}">Ver detalle</a>
    </div>

    <hr>

    {{/each}}


    <div class="create-new">

        <a class="btn btn-info" href="/actions/new">Crear nuevo empleado</a>

    </div> --}}