 <h2>Edit Course</h2>

<form action="/courses/{{this.id}}/edit" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{this.name}}">

  <button type="submit">EDIT</button>
</form>