# Dependency directory
node_modules 

# keep translated feedback within subdirectory
!.gitignore
!*/node_modules/zxcvbn/lib/feedback.js

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env
