<div class="add-page">
  <h1 class="centered">Add a New Course</h1>
  <a href="/bureau">Home</a>
  <form action="/courses/add" method="POST" id="form">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="teacher">Teacher: </label>
    <input type="text" name="teacher" id="teacher">
    <label for="description">Description: </label>
    <input type="text" name="description" id="description">
    <label for="start-date">Start Date: </label>
    <input type="date" name="startDate" id="start-date">
    <label for="end-date">End Date: </label>
    <input type="date" name="endDate" id="end-date">
    <label for="ta">TA: </label>
    <input type="text" name="ta" id="TA">
    <button type="submit">Save Course</button>
  </form>
</div>