<h1>Crear cuenta</h1>

<form action="/addUser" method="POST">
<label for="name">Nombre</label>
<input type="text" name="name" id="name">
<label for="lastName">Apellido</label>
<input type="text" name="lastName" id="lastName">
<label for="email">Correo electrónico</label>
<input type="text" name="email" id="email">
<label for="password">Contraseña</label>
<input type="password" name="password" id="password">
<label for="role">Tipo</label>
<select name="role" id="role">
  <option value="DEVELOPER">Developer</option>
  <option value="TA">TA</option>
</select>
<input type="submit">
</form>