<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>SIGN UP</h1>
          <form method="POST" action="signup" class="form-login">
            <input name="username" type="text" placeholder="username" />
            </br>
            <input name="email" type="text" placeholder="email" />
            </br>
            <input name="password" type="password" placeholder="password"/>
            </br>
            <input name="role" type="text" placeholder="role"/>
            </br>
              <button>add user</button>
        </form>
  </body>
</html>
-->
