<div class="main-page-intra">
  <h1>Welcome to the Bureau Intranet, Ironhacker!</h1>
  <img src="https://media1.giphy.com/media/11J8lEFfvHLipi/source.gif" alt="leo di caprio image">
  <a href="/signup" class="btn">Create new user accounts</a>
  <a href="/logout">Logout</a>
</div>