<div class="main-page-intra">
  <a href="/logout" class="logout">Logout</a>
  {{#if message}}
  <div class="messages">{{message}}</div>
  {{/if}}
  <h1>Welcome to the Bureau Intranet, Ironhacker!</h1>
  <img src="https://media1.giphy.com/media/11J8lEFfvHLipi/source.gif" alt="leo di caprio image">
  <a href="/signup" class="btn">Create new user accounts</a>
  <a href="/users" class="btn">Check all users</a>
</div>