<form action="/create-staff" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Name">
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" id="lastName" placeholder="Last Name">
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  <label for="role">Select Role</label>
  <select name="role" id="role">
    <option value="TA">TA</option>
    <option value="DEVELOPER">Developer</option>
  </select>
  <label for="password">Password</label>
  <input type="text" name="password" id="password">
  <input type="submit" value="Create">
  <br>
  <br>
  <a href="/profile">Go Back</a>
</form>