<h2>Create Course</h2>

<form action="/create" method="POST" id="form-container">
  <label for="title">Course Name</label>
  <input id="title" type="text" name="title" placeholder="Course name">
  <br><br>
  <label for="type">Type</label><br>
  <select name="type">
    <option>Full-time</option>
    <option>Part-time</option>
  </select>
  <br><br>
  <label for="description">Description</label>
  <input id="description" type="text" name="description" placeholder="Course description">
  <br><br>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create course</button>
</form>