<form action="/create" method="POST" >
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" placeholder="Name"/>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="text" name="email" id="email" placeholder="Email">
  </div>
  
  <select class="form-control" id="type" name="role">
    <option selected>Select type...</option>
    <option value="TA">TA</option>
    <option value="STUDENT">Student</option>
  </select>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Create</button>

</form>