<h1>Create Course</h1>
<form action="/create-course" method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">
<label for="teacher">Teacher</label>
<input type="text" name="teacher" id="teacher" placeholder="Teacher">
<label for="duration">Duration(hrs)</label>
<input type="" name="duration" id="duration" placeholder="Duration">
<label for="classroom">Classroom</label>
<input type="classroom" name="classroom" id="classroom" placeholder="Classroom">
<input type="submit" value="Create">
<br>
<br>
<a href="/staffprofile">Go Back</a>
</form>