<h2>Delete an Employee</h2>
{{#each users}}
  <ul>
  <li>{{this.username}}</li>
  </ul>
  {{!-- <form action="employee/{{this._id}}/delete" method="post">
    <button type="submit">DELETE</button>
  </form> --}}
{{/each}}