<h1>Edit Profiles</h1>
<form action="/edit-staff" method="POST">
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">
<label for="lastName">Last Name</label>
<input type="text" name="lastName" id="lastName" placeholder="Last Name">
<input type="submit" value="Update">
<br>
<br>
<a href="/staffprofile">Go Back</a>
</form>