<h2>{{title}}</h2>
<form action="{{action}}" method="POST">
  {{#if register}}
    <p>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name">
  </p>
  <p>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" placeholder="Last Name">
  </p>
  <label for="role"></label>
  <select name="role" id="role">
    <option value="BOSS">Boss</option>
    <option value="DEVELOPER">Boss</option>
    <option value="TA">Boss</option>
  </select>
  {{/if}}
<p>
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Email">
</p>
<p>
<label for="password">Password</label>
<input type="password" name="password" placeholder="Password">
</p>
<input type="submit" value="{{button}}">
</form>