<h2>{{title}}</h2>

<form action="{{action}}" method="post">
  {{#if register}}
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="lastname">
  </p>
  {{/if}}
  <p>
    <label for="">Email</label>
    <input type="email" name="email" placeholder="Email">
  </p>
  <p>
    <label for="">Password</label>
    <input type="password" name="password" placeholder="password">
  </p>
    <input type="hidden" value="Boss" name="role">
  <input type="submit" value="{{button}}">

</form>