<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>This is the boss management page</h2>
<ul>
  <li><a href="/auth/signup">Create a new profile</a></li>
  <li><a href="/auth/profiles-boss">View user profiles</a></li>
  <li><a href="/auth/logout">Logout</a></li>
</ul>


