<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>login</h1>
      <form method="POST" action="login">
        <input name="username" type="text" id="userName" placeholder="Jose" />
        </br>
        <input name="password" type="password" id="password" placeholder="password"/>
        </br>
        <% if (typeof message != "undefined") { %>
        <div class="error-message"><%= message %></div>
        <% } %>
        <button>sign up</button>
      </form>
  </body>
</html>
