<h1>Inicia sesión</h1>
<form action="/auth/login" method="POST">
  <label for="username">Usuario</label>
  <input type="text" name="username" >
  <hr>
  
  <label for="password">Password</label>
  <input type="password" name="password">
  <hr>
  
  <input type="submit">
</form>
<form action="/auth/facebook" method="post">
  <input value="Login con Facebook" type="submit">
</form>