<body>
  <form action="/auth/login" method="post">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Chuck Norris">
  <br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Super Secret Code">
  <br><br>
  <button>Login!</button>
  </form>
</body>
