<form action="/login" method="post" id="form">
  <label for="username"> Username:</label>
  <input type="text" name="username">
  <label for="password">Password:</label>
  <input type="password" name="password">
  <button>Login</button>
</form>
{{#if errorMessage}}
<div class="error-message">{{errorMessage}}</div>
{{/if}}
<p><a href="/signup">If you dont have account Signup here</a></p>