<h2>Login</h2>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <br></br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <br></br>
  <% if (typeof message != "undefined") { %>
    <div class="error-message">
      <%= message %>
    </div>
    <% } %>
      <div>
        <div>
          <input type="submit" value="Log In">
        </div>

</form>
