<h1>Iniciar sesión</h1>

<form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" value="" required>>
        <input type="password" name="password" placeholder="Password" value="" required>>
        <input type="submit" value="Log In">
</form>