<form method="POST" action="/login">
  <p><label>Login: <input type="text" name="username"></label></p>
  <p><label>Pass: <input type="password" name="password"></label></p>
  <button>Send</button>
</form>