<h1>Login</h1>
<form action="/login" method="POST">
<input placeholder="Username" type="text" name="username">
<input placeholder="Password" type="password" name="password">
<input type="submit" value="LogIn">
</form>