<h2>Login but shhh... don't say anything</h2>

<form action="/login" method="POST" id="form-container" class="login">
  <label for="username">I. B. I. name</label>
  <input type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">I. B. I. Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br><br>
  <button>TRY IF YOU CAN</button>

  </p>
</form>
