<h2>Log in</h2>

<form action="/" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="Dani">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="1234">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>

  {{#if message}}
  <div class="error-message"
    style="background: pink; color: yellow; font-weight: bold; font-style: italic; text-transform: uppercase">
    {{ message }}</div>
  {{/if}}
</form>