<h2>Login Session</h2>

<form action="/auth/login" method="POST" id="form-container">
  <p>
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Your username">
  </p>

  <p>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
  </p>

  <p>
    {{#if message}}
      <div class="error-message">{{ message }}</div>
    {{/if}}
  </p>

  <button>Login</button>
</form>

<p class="account-message">Don't have an account? <a href="/auth/signup">Signup</a></p>