

<div class='con1'>

<h5><strong>Log into Squarespace</strong> </h5>

<p>Or Create Account</p>
<form action="/login" method="POST">
  <div>
  
    <input type="text" name="username">
  </div>
  <div>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }} error error</div>
  {{/if}}
  <div>
    <input class='logbtn'type="submit" value="Log In">
  </div>
</form>

<p>or continue with</p>

<p>Forgot login?</p>

</div>