<h2>Login</h2>
<form action="login" method="POST">
<p>
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Email">
</p>
<p>
<label for="password">Password</label>
<input type="password" name="password" placeholder="Password">
</p>
<input type="submit" value="Login">
</form>