<h1>LogIn</h1>
<a href="/">Volver</a>
<form action="/login" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="pass">Password:</label>
    <input type="pass" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>