<h2>Add an Employee</h2>

<form action="/iIztheBoss" method="POST">
  <label for="username">Username</label>
  <input type="text" id="username" name="username">

  <p>
  <label for="name">Name</label>
  <input type="text" id="name" name="name">
  </p>

  <p>
  <label for="familyName">Family Name</label>
  <input type="text" name="familyName" id="familyName">
  </p>

  <p>
  <label for="password">Password</label>
  <input type="text" name="password" id="password">
  </p>

  <p>
  Role
  <select name="role">
    <option value="TA">TA</option>
    <option value="Developer">Developer</option>
  </select>
  </p>

  <p>
  <button type="submit">Create Slave</button>
  </p>
</form>

<p><a href="/iIztheBoss">Return Home</a><p>
