<div>Welcome back Gonzalo</div>
<% if (user) { %>
  <div>
    <h1>Give access to employees:</h1>
    <h2><a href="/signup">Index</a></h2>
    <h2>Employee accounnts</h2>
    <a href="/logout">logout</a>
  </div>
<% } %>
