<h1>Boss profile</h1>
{{#each allUsers}}
<ul>
    <li>{{this.name}} {{this.lastName}} - <b>{{{this.role}}}</b> <a href="/delete-user/{{this._id}}"><input type="submit" value="Delete"></a>
    </li>
</ul>
{{/each}}
<a href="../create-staff"> Create staff</a>
<br>
<br>
<a href="/logout">Logout</a>