<div class="columns is-centered">
	<div class="column is-6">
		<h2 class="title is-3">Profile</h2>
		<hr>

		<article class="message is-warning">
			<div class="message-header">
				<p>Data info:</p>
			</div>
			<div class="message-body">
				<p>{{user.name}}, {{user.role}}</p>
			</div>
		</article>
	</div>
</div>