<div class="bg-light">
  <div class="container">
    <div class="row fullheight">
      <div class="col-12 m-auto">
        <div class="row">
          <div class="col-12 col-md-2">
            <img src="http://cdn.onlinewebfonts.com/svg/img_24787.png" alt="user" class="img-fluid">
          </div>
          <div class="col-12 col-md-10">
            <h2>{{user.name}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>