<h2>All our profiles are listed here:</h2>
<br>
<span style="color: red">{{error}}</span>

<ul>
  {{#each allUsers}}
  <li> {{this.username}}
    <a href="/auth/profile-details/{{this.id}}">See details</a>
    <form action="/auth/profiles/delete" method="POST">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="submit" value="Delete profile">
    </form>
  </li>
  <br>
  {{/each}}
</ul>
<br>
<br>

<p>
  <a href="/auth/signup">Create a new profile</a>
  <br>
  <br>
  <a href="/">Home</a>
  <br>
  <br>
  <a href="/auth/logout">Logout</a>
</p>