<h1>Perfil</h1>
<small>Tipo de usurio: {{user.role}}</small>
<br><br>
<p>Nombre: {{user.name}} {{user.lastName}}</p>
<p>Correo electrónico: {{user.email}}</p>
<a href="/updateProfile">Actualizar perfil </a>