<!-- views/auth/signup.ejs -->
<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Username">
  <br><br>
  <label for="name">Name</label>
  <input id="name" type="name" name="name" placeholder="Name">
  <br><br>
  <label for="familyName">Family Name</label>
  <input id="familyName" type="familyName" name="familyName" placeholder="Family Name">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password">
  <br><br>
  <label for="role">Role</label>
  <input id="role" type="role" name="role" placeholder="Role">
  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</form>
