<h1>Bienvenido a la plataforma Ironhack, crea tu cuenta</h1>
<form action="/auth/signup" method="POST">
  <input type="text" placeholder="Nombre" name="name" >
  <input type="text" placeholder="E-mail" name="email" >
  <input type="text" placeholder="Role" name="role" >
  <input type="password" placeholder="Contraseña" name="password">
  <input type="submit">