<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="JonSnow">
    <br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password">
    <br>
    <br>
    <label for="name">Name</label>
    <input type="name" name="name" placeholder="Your name">
    <br>
    <br>
    <label for="familyName">familyName</label>
    <input type="name" name="name" placeholder="Your familyName">
    <br>
    <br>
    <button>Create account</button>
</form>