<h2>Signup</h2>
<form action="/auth/signup" method="post">
  <label for="username">username</label>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">password</label>
  <input type="password" name="password" id="password">
  <input type="submit">
</form>