<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ironhack Bureau Investigation::Signup</title>
  </head>
  <body>
    <h1>
      Signup
    </h1>
    <form class="" action="/auth/signup" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" value="" placeholder="Username">
      <label for="password">Password</label>
      <input type="password" name="password" value="" placeholder="Password">
      <label for="role">Role</label>
      <input type="text" name="role" value="" placeholder="Role">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
