<div class="container">
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <select name="role" id="role">
            <option value="developer">Developer</option>
            <option value="ta">TA</option>
        </select>
        <button type="submit">Send</button>
        <a href="/logout">Logout</a>
    </form>
</div>
