<h1>Signup</h1>
<form action="/signup" method="POST">
<input placeholder="Username" type="text" name="username">
<input placeholder="Password" type="password" name="password">
<input type="submit" value="signup">
</form>