<form action="/signup" method="post">
  <label for="username">PUT YOUR I.B.I NAME</label>
  <input type="text" name="username"><br>
  <label for="password">I.B.I. PASSWORD HERE</label>
  <input type="password" name="password"><br>
  <label for="password">I.B.I. ROLE</label>
  <input type="text" name="role">
  <button>GO GO GO</button>
</form><br>

<p>You are an authorized person?? <a href="login"> LOG IN</a></p>
