<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
<label for="username">Username</label>
<input id="username" type="text" name="username" placeholder="Type your name here, please">
<br><br>
<label for="password">Password</label>
<input id="password" type="password" name="password" placeholder="Type your password here, please">

{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}
<br><br>

<button>Create account</button>

<p class="account-message">
  Do you have an account already?
  <a href="/login">Login</a>
</p>
</form>