<h1>New user</h1>
<form action="/signup" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password">

  <label for="role">Role</label>
  <select name="role">
    <option value="Developer">Developer</option>
    <option value="TA">TA</option>
    <option value="Boss">Boss</option>
  </select>

  <button type="submit">Enviar</button>
</form> 