<div class='container'>
    <h2>SIGN UP FOR THE COTILLEO</h2>
    <div class="row justify-content-center">
        <div class="col-md-8 ">
            <form action='/signup' method='POST'>
                <div class="form-group">
                    <label class="form-font" for="username">USUARIO COTILLA:</label>
                    <input type="text" class="form-control" id="username"
                        name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label class="form-font" for="password">PASSWORD:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary">SIGN UP</button>
            </form>
        </div>
    </div>
</div>