<h1>New Teacher</h1>
<form action="/auth/login" method="post">
  <label for="username">username</label>
  <input type="text" name="username" id="username">
  <label for="role">role</label>
  <input type="text" name="role" id="role">
  <button type="submit">Login</button>
</form>