<section id="loginPage">
  <img src="/images/logo.png" alt="">
  <h1 style="color: white">Alumni Sign Up</h1>
  <form class="loginForm" action="/auth/signup" method="post">
    <div class="inputsForm">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="buttonsForm">
      <button type="submit" class="buttonLogin">Sign Up</button>
      <a href="/auth/login">Login</a>
    </div>
  </form>
</section>