

Este es el perfil de {{name}}

<p><a href="/logout"> logout </a></p>
<p><a href="/course"> lista de cursos </a></p>

<p><a href="/profile"> Otros Usuarios </a></p>


{{#if boss}} <p><a href="/signup"> new Employee </a></p> {{/if}}
{{#if boss}} <p><a href="/course/new"> new course </a></p> {{/if}}
{{#if ta}} <p><a href="/course/new"> new course </a></p> {{/if}}



