<h1>Welcome <%= user %> </h1>
<h2> You can</h2>
<a href="/newEmployee"><button>Add new employee</button></a>
<a href="/listEmployee"><button>List employee</button></a>
<a href="/editProfile"><button>Edit your profile</button></a>
