<form action="/portal/edit" method="post" class="formSignUp">
  <label for="username">Username</label><br>
  <input type="text" id="username" name="username" value="<%=username %>" disabled><br>
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name" value="<%=name %>"><br>
  <label for="familyName">FamilyName</label><br>
  <input type="familyName" id="familyName" name="familyName" value="<%=familyName %>"><br>
  <br>
  <button>Modify user</button>
</form>
