<div class="container">
  <div class="card">
    <h1>Edit profile</h1>
    <form action="/user/profile" method='POST'>
      <input type="text" placeholder="username" required='true' name='username'>
      <br>
      <br>
      <button type="submit">Save changes</button>
    </form>
    </br>
  </div>
</div>