<h2>Edit your details</h2>
<form action="/edit/{{id}}" method="POST">
  <input type="text" name="username" value="{{username}}" placeholder="new username">
  <button type="submit">Update</button>
</form>