<h1>Welcome {{user.username}}</h1>
<a href="/edit">Edit yor profile</a>
<a href="/profiles">See your colleagues' profiles</a>
{{#is user.role 'BOSS'}}
  <a href="/signup">Add users</a>
  <a href="/remove">Remove users</a>
  {{/is}}

  {{#is user.role 'TA'}}
  <a href="/courses">Create Course</a>
  <a href="/courses">Remove Course</a>
  <a href="/courses">Add Course</a>
  {{/is}}