<section class="prelogin">
<nav  >
  <div class="container-fluid">
    <div class="navbar-header">
      <button id='btn1' type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span style='background-color:black' class="icon-bar"></span>
        <span style='background-color:black' class="icon-bar"></span>
        <span style='background-color:black' class="icon-bar"></span>                        
      </button>
	  
      <a class="navbar-brand" href="#">
	 <img id='mylogo' src="./images/logo.png" alt="bloggy" height="50">
	  </a>

   
    </div>
	 
    <div style='margin-left:40px' class="collapse navbar-collapse" id="myNavbar">
   
  
      <ul class="nav navbar-nav navbar-right white">
        <li><a href="/login">Join</a></li>
      </ul>
          <ul class="nav navbar-nav navbar-right white">
        <li><a href="/login">Sign in</a></li>
      </ul>
    </div>
  </div>
</nav>
</section>
