<h2>Colleagues</h2>
{{#each person}}
 <p>Name: {{username}}</p>
 <p>Role: {{role}}</p>

 {{!-- <form action="/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form> --}}

{{/each}}
