
<h1 class="capitalize">{{this.username}}</h1>
<h2>{{this.role}}</h2>
<div class="actions">
  <a href="/users/{{this._id}}/edit" class="btn btn-success roundedBtn">Edit</a>
  <a href="/users" class="btn btn-primary roundedBtn">Go back</a>
</div>
