<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <h1>Editar ficha de {{username}}</h1>
            <form method="POST" action="/employers/edit-employers/{{_id}}">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="username" value="{{username}}">
                </div>
                <div class="form-group">
                        <label for="inputState">Rol</label>
                        <select id="inputState" class="form-control" name="role" value="{{role}}">
                            <option selected>TA</option>
                            <option>DEV</option>
                            <option>STUDENT</option>
                            <option>GUEST</option>
                        </select>

        
                </div>
                <button type="submit" class="btn btn-dark">Editar</button>
            </form>
        </div>
    </div>



</div>