<div class="container">

    <h1 class="title-details">Ficha de {{username}} </h1>

    <hr>

    <p><strong>Nombre:</strong> {{username}}</p>
    <p><strong>Rol: </strong> {{role}}</p>


    <hr>
    <a href="/" class="btn btn-info">Volver a la página principal</a>
</div>