<div class="container">
    <div class="card">
        <h1>Create an employee</h1>
        <form action="/employee-list" method='POST'>
            <input type="text" name='username' placeholder='username' required="true">
            <br>
            <input type="text" name='password' placeholder='password'>
            <br>
            <select name="role">
                <option value="developer">Developer</option>
                <option value="TA">TA</option>
            </select>
            <br>
            <button type='submit'>Create a new employee!</button>
        </form>
    </div>
</div>