  <h1> Adding a new employee</h1>

  <form action="/employee/add" method="POST">

    <input id="employee-username" type="text" name="username">
    <input id="employee-password" type="text" name="password">
    <input id="employee-rol" type="text" name="rol">
    

    <input type="submit" value="Add a new employee">
    
  </form>

  <a href="/boss">Go to boss page</a>
  