<form action="/employees/add" method="post">
    <label>Name: </label>
    <input type="text" name="name">

    <label>Username: </label>
    <input type="text" name="username">

    <label>Password: </label>
    <input type="text" name="password">

    <label>Role: </label>
    <select name="role">
        <option value="Boss">Boss</option>
        <option value="TA">TA</option>
        <option value="Developer">Developer</option>
        <option value="Student">Student</option>
    </select>

    <label>Profile Picture: </label>
    <input type="text" name="profile">

    <button type="submit">Create Employee</button> 

</form>