<h1>YOU CAN ADD NEW USERS HERE</h1>


<form action="/auth/addnewuser" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <select name="Role">
      <option value="TA">TA</option>
      <option value="Developer">Developer</option>
    </select>
  </div>
    <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>

