<div class="container">

    <h1>Welcome to ADMIN {{user.username}}!</h1>
    <p>What do you want to do?</p>
    <hr>




    <a href="/list" class="btn btn-dark">See all users</a>
    <a href="/close" class="btn btn-dark">Close session</a>

</div>