You are the admin

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
<!--<label for="role">Role</label>
  <input id="role" type="text" name="role" placeholder="TA | DEVELOPER | BOSS">-->
  <select id="role" name="role">
  <option value="TA">TA</option>
  <option value="DEVELOPER">DEVELOPER</option>
</select>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

    <div class="show">
    {{#each users}}
    
    {{>userPartial this}}
    {{/each}}
    </div>

</form>