<div class ="container">

<h1>Bienvenido, jef@</h1>


{{#if isBoss}}
<p> Como Boss, puedes registrar a los usuarios</p>
<a href="/sign-up" class='btn btn-dark'>Sign Up</a>
{{/if}}
<br>
<br>

<a href="/" class='btn btn-dark'>Volver Atrás</a>
</div>
