<div class="container">

    <h1>Bienvenido a la página de edición, {{user.username}}!</h1>
    <p>Tu rol es de: {{user.role}}, lo que te permite ver esta página</p>

    <hr>
    {{#if isBoss}}
    <a href="/boss/edit" class="btn btn-dark">Otorgar rol</a>
    <a href="/boss/new" class="btn btn-danger">Añadir perfil</a>
    <a href="/delete" class="btn btn-danger">Borrar perfil</a>
    {{/if}}


    <a href="/signout" class="btn btn-dark">Cerrar sesión</a>

</div>