<h1>Esto es documentation.hbs</h1>
<p>Debería llamarse platform pero basta que le cambie el nombre para que deje de funcionar
</p>

Si ves esto es que eres ta o boss

{{#if isBoss}}
<p>Pero si ves esto también, es que eres boss</p>

{{/if}}