<h1>Perfil!</h1>
<p>¡Buenos días, {{user.username}}!</p>
<p>Tu ID es {{user._id}}</p>
<p>Tu rol es {{user.role}}</p>

<p>Esta documentación la ve todo el mundo que accede</p>

{{#if isBoss}}
<p>Esta parte, sólo puede verla un Boss</p>
{{/if}}