<h2>Edita Empleado</h2>
<form action="/{{user.id}}/edit" method="post">
  <label for="">Name:</label>
  <input type="text" name="username" placeholder="username">

  <label for="">Password</label>
  <input type="text" name="password" placeholder="password">

  

  <button type="submit">Edit</button>
</form>


<a href="/workers">Go to employees</a> 


