{{#each user}}
<div>
    {{this.name}}
    {{this.role}}
    <a href="/employees/edit/{{this._id}}"><button>EDIT</button></a>
    <a href="/employees/delete/{{this._id}}"><button>DELETE</button></a>
</div>
{{/each}}
<a href="/"><button>Back to Home</button></a>