
<h2>Empleados</h2>
<div class="row">

    {{#each allEmployees}}

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{name}}</h3>
                <h5 class="card-title">{{username}}</h5>
                {{!-- <a href="/celebrities/details/{{id}}" type="button" class="btn btn-secondary">Ver detalles</a> --}}
                
              
                
                <form method="GET" action="/celebrities/details/{{id}}/edit">
                    <button type="submit" class="btn btn-secondary">Editar</button>
                </form>
            </div>
        </div>
    </div>

    {{/each}}

</div>

<a href="/" class="btn btn-dark btn-md">Volver a inicio</a>

{{#if (eq role "BOSS")}} 
<form method="POST" action="">
    <button type="submit" class="btn btn-secondary">Borrar</button>
</form>

{{/if}}