<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Check out our different options according to your role</p>
<p>Don't try to trick us and good luck</p>

<br><br>
<br><br>
<br><br>
<a href="/signup">Signup</a>
<br><br>
<a href="/login">Login</a>
<br><br>
<a href="/auth/facebook">Login with Facebook</a>
<br><br>
<p>Acess only for big Boss</p>
<a href="/private">Modify Employees</a>
<br><br>
<p>Acess only for Developers or TAs</p>
<a href="/allUsers">List of Employees</a>
<br><br>
<a href="/logout">Logout</a>