<nav>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a class="prot-btn" href="/main">Main account</a></li>
        <li><a class="logout-btn" href="/logout">Log out</a></li>
    </ul>
</nav>

<h1 class="main-header">Log in to start using your account.</h1>