<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>hello {{user.name}} </h1>
<br><br>

<div>
    <a href="/login">logueate!</a>
</div>
<div>
    <a href="/signup">registrate!</a>
</div>
<div>
    <a href="/empleados">ver los empleados</a>
</div>
