<div class="container">
    <div class="row justify-content-center align">
        <div class="col-7">
            <h1>{{title}}</h1>
            <p>In order to access each of the sections of this platform please sign in or register</p>
            <a href="/sign-up" class="btn btn-dark" style="background-color: #4DC3F8">Register</a>
            <a href="/log-in" class="btn btn-outline-light" style="color: #4DC3F8">Log In</a>
            
        </div>
    </div>
</div>

