<h1>{{title}}</h1>

{{#unless user}}
    <a href="/login">Click here to log in</a>
{{/unless}}

{{#if user}}
    <p>Welcome to {{user.username}}</p>
    <a href="/auth/logout">Log Out</a> <br><br>
    <a href="/employees">View Employees</a> <br><br>
    <a href="/employees/create">Create Employees</a> <br><br>
{{/if}}