<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a type="button" class="btn btn-success" href="signup">Sign-up</a>



<a type="button" class="btn btn-info" href="login">Login</a>
<a type="button" class="btn btn-danger" href="/logout">Logout</a>

<hr>


<a href="/myprofile" type="button" class="btn btn-warning">My profile</a>

 <a href="/show" type="button" class="btn btn-secondary">See other profiles</a>



   