<nav>

    <a href="/login">Log in</a> | <a href="/users-list">List of users</a>| <a href="/users">Accounts</a> | <a
        href="/profile">Your profile</a>

</nav>

<hr>

<h1>Ironhack Bureau of Investigation</h1>

<h2>Welcome to another Ironhack Lab!</h2>

<br>

<p>This is the content that everybody can see</p>

<img src="/images/inspector.jpeg" alt="Inspector">