<div class="row justify-content-center">
  <div class="col-lg-8">

    <a class="btn btn-dark d-block" href="/login">
      <h1>Welcome to your {{title}}</h1>
      <hr>
      <p>Let's get started</p>
    </a>

  </div>
</div>
