<h1>Ironhack platform!</h1>
<h2>Log in</h2>

<form action="/" method="POST">
  <p>
    Email:
    <input type="email" name="email" id="email">
  </p>
  <p>
    Password:
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="Log in">
</form>
