<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<br>
<a href="/auth/signup">Sign Up</a>
<br>
<a href="/auth/login">Login</a>
<br>
<a href="/profile">Access to profile</a>
<br>
<a href="/user-list">User List</a>