<h1>{{title}}</h1>
{{#if user}}
    <p>Welcome to {{user.username}}</p>
    <a href="/logout">LOGOUT</a>
{{else}}
    <p>LOGIN FIRST!!!</p>
    <a href="/signup">SIGNUP</a>
    <a href="/login">LOGIN</a>
{{/if}}


<a href="/boss-page">IR A PAGINA Boss</a>

