<h1>Big Enterprise Fancy Place</h1>
<p>Welcome to your Login Place</p>
<a href="/auth/facebook">Login With Facebook</a>

{{#unless user}}
  Home page
  <div>
    <a href="/auth/google">Login</a>
  </div>
{{/unless}}


 



  