<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/login"><button>Login</button></a>
<a href="/employees/add"><button>Add Employee</button></a>
<a href="/employees/edit"><button>Edit Employees</button></a>
<a href="/employees"><button>Show Employees</button></a>
<a href="/employees/editself"><button>Edit Your Profile</button></a>
<a href="/courses"><button>View Courses</button></a></br>
<a href="/auth/facebook"><button>Login With Facebook</button></a>