<section class="container">

    <article class="row justify-content-center">

        <div class="col-md-8 center">

            <h1>Welcome to Roles App</h1>
            <hr><br>
            <h5>Your human resources favourite App</h5>

            <a href="/signup" class="btn btn-primary btn-lg">Sing Up</a>
            <a href="/login" class="btn btn-primary btn-lg">Log In</a>

        </div>

    </article>

</section>