<div class="container">
    <div class="row">
        <h1>Bienvenid@ al Show</h1>
    </div>
    <div class="row">
        <p>El show de las conexiones y sus usuarios</p>
    </div>
    <div class="row">
        <h2>PARA ACCEDER A ACCESO RESTRINGIDO USAD </h2>
        <h3>USERNAME:sunu, PASSWORD: 1</h3>
    </div>
</div>