<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/login"><button>Login</button></a>
<a href="/addemployee"><button>Add Employee</button></a>
<a href="/editemployees"><button>Edit Employees</button></a>
<a href="/employees"><button>Show Employees</button></a>
<a href="/edit"><button>Edit Your Profile</button></a>
<a href="/courses"><button>View Courses</button></a>