<div class="container">
<h1>{{title}}</h1>



<a href="/sign-up" class='btn btn-dark btn-block'>Sign Up</a>

<a href="/log-in" class='btn btn-dark btn-block'>Log In</a>

<a href="/employers" class='btn btn-dark btn-block'>Ver todos los empleados</a>

        <a href="/boss-zone" class='btn btn-dark btn-block'>Boss</a>

<br>
<br>

<a href="/log-out" class="btn btn-dark">Cerrar sesión</a>

</div>
