<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#unless user}}
<a href="auth/signup">Sign Up</a>
<a href="auth/login">Login</a>
{{/unless}}

{{#if user}}
<p>You are {{user.username}}</p>
{{#if boss}}
<a href="auth/bosspanel">Boss Panel</a>
{{/if}}
{{/if}}


