<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/login">Login</a> </br>
<a href="/private">Add or delete employee (Only BOSS)</a> </br>
<a href="/otherUsers">List of employees (TA or DEVELOPER)</a> </br>
<a href="/courses">List of courses</a>

