<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

   <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/signup">Registro</a></li>
      <li><a href="/login">Iniciar sesión</a></li>
      <li><a href="/logout">Cerrar sesión</a></li>
      <li><a href="/profileStudent">Perfil de Estudiante</a></li>
      <li><a href="/profileTA">Perfil de TA</a></li>
      <li><a href="/profileDEV">Perfil de DEV</a></li>
      <li><a href="/private">Perfil de BOSS</a></li>

    </ul>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>