<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if user}}
    Welcome {{user.name}}!
    {{/if}}
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
