<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/logout">Log out</a></li>
      </ul>

    </header>
    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
