<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <a href="/register">Signup</a>
  <a href="/auth/login">Login</a>
  <a href="/auth/logout">Logout</a>

    {{{body}}}

    <script src='/javascripts/script.js' />
  </body>
</html>
