<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    {{{body}}}

    <script src='/js/script.js' />
  </body>
</html>
