<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


<nav class="navbar navbar-expand navbar-light bg-light">
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/signup">Signup</a>
      <a class="nav-item nav-link " href="/list">List of Employees</a>
      <a class="nav-item nav-link " href="/edit">Edit Profile </a>
      <a class="nav-item nav-link " href="/courses/create">Create course </a>
      <a class="nav-item nav-link " href="/courses/list">Listar Cursos </a>

      <a class="nav-item nav-link" href="/logout">Logout</a>

    </div>
  </div>
</nav>


  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>