<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <a href="/">Home</a>

    {{#if isConnected}}

    <a href="/users/view-profile">View my profile</a>

    {{#if isAdmin}}
    <a href="/users/view-all-profile/">View all Profiles</a>
    <a href="/users/edit-all">Remove members</a>
    <a href="/auth/signup">Create new members</a>
    {{/if}}

    {{#if isTA}}
    <a href="/users/view-all-profile/">View all Profiles</a>
    <a href="/courses">Courses</a>
    {{/if}}

    {{#if isAlumni}}
    <a href="/alumnis/all-profiles">See other Alumnis</a>
    <a href="/alumnis/courses">See the courses</a>
    {{/if}}

    <a href="/auth/logout">Logout</a>
    {{else}}
    <a href="/auth/login">Login</a>
    <a href="/auth/facebook">Sign up with Facebook</a>
    {{/if}}
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>