<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <a href="/login">Log in</a>
    <a href="/login-boss">Log in Boss</a>
    <a href="/private">Private</a>
    <a href="/boss-page">Boss Page</a>

  </nav>

  {{{body}}}

  <script src='/javascripts/script.js' />
</body>

</html>