<h3>List of employees</h3>

<ul>
  {{#each users}}
  <li>
    {{this.username}}
    <a href="/listEmployee/{{this._id}}">Go to the profile</a>
  </li>
  {{/each}}

</ul>

  <p>Back to index<a href="/">Back</a></p>