<h2>List of Employees</h2>

<ul>
{{#each allEmployees}}
    <li>
        <a href="/profile/{{_id}}">{{username}}</a>
            {{#if ../isBoss}}
                <a href="/edit/{{_id}}">Edit this employee</a>
                <a href="/delete/{{_id}}">Delete this employee</a>
            {{/if}}
    </li>
{{/each}}
</ul>

{{#if isBoss}}
<a href="/add">Add an employee</a>
{{/if}}