
<main class="container">
    <h2>This is the list of Courses!</h2>
    <div class="row index-buttons">
        <div class="col-12">
        {{#each courses}}
            <h4>{{title}} - {{ta}}</h4> 
                    <form action ="/delete-courses/{{_id}}" method="post">
                        <button type="submit" class="btn btn-sm btn-danger button-delete">delete</button>
                    </form>
                      <form action ="/edit-courses/{{_id}}" method="post">
                        <button type="submit" class="btn btn-sm btn-danger button-delete">Edit</button>
                    </form>
                <hr>
        {{/each}}
        </div>
    </div>
<p><a class="btn btn-sm btn-dark" href="/ta-access">Back</a></p>
</main>