<h2>Hi, please log in!</h2>

<form action="/process-login" method="POST">

    <label for="username">User name:</label><br>
    <input id="username" type="text" name="name" placeholder="e.g. Maggie"><br><br>

    <label for="password">Password:</label><br>
    <input id="password" type="password" name="typedPassword" placeholder="******"><br><br>

    <button>Log In</button>

</form>