<h2>Log in</h2>

<form method="POST" action="/process-login">
  <label>
    <input type="text" name="email"/>
    <br/>
    <input type="password" name="password"/>
    <br/>
    <button>Log in</button>
  </label>
</form>