{{#if login}}
  <h1>Login</h1>
  {{else if signup}}
    <h1>Sign up</h1>
    <p>To create the first admin, run</p>
    <code>&ensp;$ node bin/seed.js</code>
    <p>Or create one using the form:</p>
{{/if}}
 {{> authForm}}