<h1>this is the login page</h1>

  <form method="POST" action="/login">
<div class="form-group">
    <label for="username">Username:</label>
    <input type="username" name="username" id="username" placeholder="Your Username">
</div>
<label for="password">Password:</label>
<input type="password" namme="password" id="password" placeholder="Your Password">
<button class="btn btn-danger">Login</button>
  </form>