<section id="add-user">
  <h1>ADD A NEW EMPLOYEE</h1>
  <form action="/new" method="POST">
    <label for="">Username:</label>
    <input type="text" name="username">

    <label for="">Password:</label>
    <input type="text" name="password">

    <label for="">Role:</label>
    <input type="text" name="role">

    <button type="submit">ADD</button>
  </form>
</section>