<h2>Add User</h2>
<form method="POST" action="/new">
    <div class="form">
        <label>User Name</label>
        <input type="text" class="form-control" name="username">
    </div>
    <div class="form">
        <label>Password</label>
        <input type="text" class="form-control" name="password">
    </div>
    <div class="form">
        <label>Role</label>
        <input type="text" class="form-control" name="role">
    </div>
    <button type="submit" class="btn btn-dark">Add User</button>
</form>

<a href="/list" class="btn btn-dark">Back to list</a>