<h1>Welcome {{user.username}}</h1>

<form action="/auth/privateBoss" method="POST">

    <div>
        <label for="">Username:<input type="text" placeholder="username" name="username"></label>
    </div>
    <div>
        <label for="">Role:<input type="text" placeholder="Role" name="role"></label>
    </div>
    <div><label for="">Email:<input type="email" placeholder="email" name="email"></label>
    </div>
    <div>
        <label for="">Password:<input type="password" placeholder="password" name="password"></label>
    </div>
    <div>
        <label for="">Confirm-password:<input type="password" placeholder="confirm-password" name="confirmPassword"></label>
    </div>

    <button type="reset">Delete</button>

    <button type="submit">Register</button>

</form>

<p style="color:red">{{err}}</p>

<form action="/auth/logout" method="POST">
    <button type="submit">logout</button>
</form>