<h1>Welcome {{user.username}}!</h1>


{{#if successMsg}}
  <span class="successMsg">{{successMsg}}</span>
{{/if}}


<a class="btn btn-info" href="/logout">Log Out</a>

<a class="btn btn-warning" href="#">Ver Usuarios</a>