

{{#with user}}
<form action="/auth/profile/{{id}}" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="{{username}}">
  </div>
  
    <div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="{{password}}">
  </div>
  <div>
    <input type="submit" value="Edit">
  </div>
</form>
{{/with}}