<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <p>{{username}}</p>
            <p>ENTRASTE</p>

            <a href="{{_id}}/edit" class="btn btn-dark">Edit</a>

        </div>
    </div>
</div>
{{!-- name, username, password, profileImg, description, facebookId, role --}}