<div class="container">

    <h2>Los roles disponibles son:</h2>

    <ul>
        <a class="text-info"  href="#" ><li>DEV</li></a>
        <a class="text-info"  href="#"><li>TA</li></a>
    </ul>


</div>