<h1>Welcome TA {{user.username}}!</h1>

<p><a href="/">Home</a> | 
<a href="/create-courses">Create courses</a> |  
<a href="/list-courses">List courses and edit</a> |
<a href="/logout">Log Out</a> |
</p>

