  <h1> Editing my profile</h1>

  <form action="/employee/updateMyProfile/{{_id}}" method="POST">


    <input id="employee-username" type="text" name="username" value={{username}}>   
    <input id="employee-rol" type="text" name="rol" value={{rol}}>
    
 
    <input type="submit" value="UPDATE">
    
  </form>

