  <h1> Editing a employee</h1>

  <form action="/employee/update/{{_id}}" method="POST">


    <input id="employee-username" type="text" name="username" value={{username}}>   
    <input id="employee-rol" type="text" name="rol" value={{rol}}>
    
 
    <input type="submit" value="UPDATE">
    
  </form>

   <a href="/boss">Go to boss page</a>