<h2> Bienvenue chez les users!</h2>

<ul>
{{#each userList}}

<li>
  <h3>{{this.name}}</h3>
  <p>{{this.email}}</p>

  <button><a href="/userProfile/{{this._id}}">see details</a></button>  
</li>

{{/each}}

</ul>