<div class="container">

  <div class="list-group">
    <h2>
      Employees:
    </h2>

    <div class="row  align-items-center">
      {{#each allUsers}}
      <div class="col-md-10">
        <a href="/users/details/{{_id}}" class="list-group-item list-group-item-action">{{name}}</a>
      </div>

      <div class="col-md-2">
        <form action="/users/delete?id={{_id}}" method="POST">
          <input name="id" type="hidden" class="form-control" id="field1">
          <button class"delete" type="submit" class="btn btn-dark">Delete</button>
          <a href="/users/{{_id}}/edit" class="btn btn-dark">Edit</a>
        </form>
      </div>
      {{/each}}
    </div>
  </div>
  <a id="create" href="/users/add" class="btn btn-dark">Create a new employee</a>
</div>