<div class="container">
    <h2>Lista de usuarios</h2>
    <hr>
    <ul class="list-group list-group-flush">
        {{#each user}}
        <lo class="list-group-item col-6">
            <p><strong>{{username}}</strong> </p>
        </lo>
        {{/each}}
    </ul>
</div>