<h1>User</h1>
{{#with user}}
<p>{{username}}</p>
<a href="/user-page/{{_id}}/edit" class="btn btn-default">Edit Profile</a>
{{/with}}
<a href="/user-page/show" class="btn btn-info">Show Employees</a>
