<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Profiles
  body

    include ./../../includes/navigation

    ul.profiles
    each userProfile in usersProfiles
      li.profile
        div
          h2.profile__name=userProfile.username
          p.profile__role=userProfile.role
  