<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title User profile
  body

    include ./../../includes/navigation

    .user-profile
      h2.user-profile__title=user.username
      p.user-profile__role=user.role
      a.user-profile__edit-link(href="/profile/edit") Edit
  