<br><br>
<h1>Edit Employees</h1>

<br><br>  
{{#each users}}
{{ username }} {{ role }}<br> <a href="/delete-employee/{{_id}}">del</a>
{{/each}}

<br><br>  

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
    <div>
    <label for="password">Role:</label>
    <input type="text" name="role">
  </div>
  <br>
  <div>
    <input type="submit" value="Add Employee">
  </div>
</form>