<div class="header">
  <h2>Add a Employee</h2>
</div>
<div class="container box">
<form action="/new" method="post">
  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Role:</label>
  <input type="text" name="role">

  {{#if errorMessage}}
  <div>
    {{errorMessage}}
  </div>
  {{/if}}

  <button type="submit" class="edit">ADD</button>
</form>


<a href="/private-page" class="first add">Back to private page</a>
</div>