<form action="/signup" method="post">
Username:<input type="text" name="username">
Password: <input type="text" name="password">
Role: <input type="text" name="roles" id="" >
<button>Sign up!</button>
</form>