<h2>User Form</h2>

<form action="/process-user" method="POST">
  <input type="text" name="fullName" placeholder="Full Name...">
  <br>
  <input type="text" name="email" placeholder="e.g. exemple@gmail.com...">
  <br>
  <input type="text" name="role" placeholder="e.g. Developer...">
  <br>
  <input type="password" name="encryptedPassword" placeholder="******">
  <br>
  <button>Save This User</button>
</form>