<h1>Boss View {{user.username}}</h1>
<a href="/">Login</a>


<form action="/create-user" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" value="Maria" id="username" required>
  <label for="pass">Password</label>
  <input type="password" name="password" value="mari" id="pass" required>
  <label for="role">Role</label>
  <select name="role" id="role">
    <option value="TA">TA</option>
    <option value="Developer">Developer</option>
  </select>
  <button type="submit">Create</button>
</form>

{{#each allUsers}}
<p>{{this.username}}</p>
<form action="/private/{{_id}}/delete" method="POST">
  <button>Delete user</button>
</form>
{{/each}}