<div class="accounts-container">
  <h2>Create Account</h2>
  <form action="/accounts/create" method="POST" class="auth-login">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <label for="role">Role</label>
      <select name="role" id="role">
        <option value="DEVELOPER">DEVELOPER</option>
        <option value="TA">TA</option>
        <option value="STUDENT">STUDENT</option>
      </select>
    </div>
    <div>
      <label for="firstName">FirstName</label>
      <input type="text" name="firstName" id="firstName">
    </div>
    <div>
      <label for="lastName">LastName</label>
      <input type="text" name="lastName" id="lastName">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    {{#if error}}
    <p class="auth-error">{{error}}</p>
    {{/if}}
    <button type="submit">Create</button>
  </form>
</div>