<div class="container">
    <a class="btn btn-dark non-radius" href="/lista">Volver</a>
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h1>Crear nuevo usuario</h1>

            <form action="/crear" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="text" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <input name="role" type="text" class="form-control" id="role">
                </div>

                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>

</div>