<form action="/registration-process" method="POST">
<label>
    Name:
    <input type="text" name="name" placeholder="Full name">
</label>
<label>
    Username:
    <input type="text" name="username" placeholder="username">
</label>
<label>
    Role:
    <select name="role">
        <option value="TA">TA</option>
        <option value="Developer">Developer</option>
        <option value="Boss">Boss</option>
    </select>
</label>
<label>
    Password:
    <input type="password" name="password" placeholder="********">
</label>
<button>Submit</button>
</form>