
<form  action="/courses/create" method="post">

<label for=""> Please give your room a title</label>
  <input type="text" name="courseName" value="">

  <label for=""> Brief description of the room</label>
  <textarea name="courseDescription" rows="8" cols="80"></textarea>

  <button type="submit" name="button">Submit</button>

</form>