<div class="body-movies-index">
    <h2>Edit Profile</h2>
    <div class="items-edit">
        <div class="default-items">
            <h3>Current Data</h3>
            <p><span> User Name:</span> {{this.username}}</p>
            <p><span>Role:</span> {{this.role}}</p>
        </div>
        <div class="form-edit">
            <form action="/passport/{{this._id}}/edit" method="POST">
                <input type="text" name="username" placeholder="username" required></p>
                <input type="text" name="role" placeholder="role" required>
                <input type="password" name="password" placeholder="password" required>
                <button type="submit">Edit</button>
            </form>
            <div class="button-back">
                <a href="/passportIndex">Back</a>
            </div>


        </div>

    </div>

</div>