<h2>Edita tu perfil</h2>

<form action="/user/edit" method="post">
    <input type="text" name="username" value="{{username}}">
    <br>
    <input type="text" name="email" value="{{user.email}}">
    <br>
    <input type="submit" value="Guardar">
</form>