<h1>New User</h1>
<form action="/profile/edit/<%=user._id%>" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" value="<%=user.username%>">
  <br><br>
  <label for="name">Name: </label>
  <input type="text" name="name" value="<%=user.name%>">
  <br><br>
  <label for="familyName">Family Name: </label>
  <input type="text" name="familyName" value="<%=user.familyName%>">
  <br><br>
  <label for="role">Role: </label>
  <select name="role">
    <option value="DEVELOPER">Developer</option>
    <option value="TA">TA</option>
  </select>
  <br><br>
  <input type="submit" value="Update">
</form>
