<form action="/user/login" method="post">
  <input type="text" name="username" placeholder="User Name">
  <input type="password" name="password" placeholder="Your Password">
  <input type="submit" value="Login">
</form>