<ul>
  <% users.forEach(user => { %>
    <li>
      <%= user.name %>
      <% if(userSession.role == "Boss" || user.role == userSession.role) { %>
        <a href="">Edit</a>
      <% } %>
      <% if(userSession.role == "Boss") { %>
        <a href="">Delete</a>
      <% } %>
    </li>
  <% }) %>
</ul>

<% if(userSession.role == "Boss") { %>
  <a href="">Add new employee</a>
<% } %>