<p>Name: <b><%= user.name %></b></p>
<p>Family name: <b><%= user.familyName %></b></p>
<p>Role: <b><%= user.role %></b></p>

<% if(String(userSession._id) == String(user._id) || userSession.role == "Boss") { %>
  <a href="/edit/<%= user._id %>">Edit user</a>
  <% } %>
  
<br><br><a href="/logout">Log out</a>
<br><a href="/personal">Back to home</a>