<form action="/user/signup" method="post">
  <input type="text" name="username" placeholder="User Name">
  <input type="password" name="password" placeholder="Your Password">
  <select name="role">
    <option value="Boss">Boss</option>
    <option value="Developer">Developer</option>
    <option value="TA">TA</option>

  </select>
  <input type="submit" value="SignUp">
</form>