<h1>Detalles de {{gabis.username}} </h1>
<p>puesto : {{gabis.role}} </p>
<a href="/user/list">Return</a>
<form action="/user/delete/{{gabis._id}}" method="post"><button type="submit">borrar popino</button></form>
