<div class="userEdit">
  <h2>Editing {{user.username}}</h2>
  <form method="POST" action="/users/{{user._id}}/edit">
    <label>Name</label>
    <input type="text" class="" name="username" value="{{user.username}}">
    <label>Password</label>
    <input type="password" class="" name="password" placeholder="Password" autocomplete="off" readonly onfocus="if (this.hasAttribute('readonly')) {
  this.removeAttribute('readonly');
  this.blur(); this.focus();}"/>
    <label for="">Role</label>
    <div class="roundedSelect">
      <select name="role" class="">
        <option value="None">None</option>
        <option value="Boss">Boss</option>
        <option value="Developer">Developer</option>
        <option value="TA">TA</option>
        <option value="Student">Student</option>
      </select>
    </div>
    {{> error}}
    <button class="editBut" type="submit">Edit user</button>
    <a href="/users" class="btn btn-primary roundedBtn w100">Go back</a>
  </form>
</div>
