<h2>New user added</h2>
<form action="/users/new" method="post">
  <label for="">UserName:</label>
  <input type="text" name="username"> <br><br>

  <label for="">Password:</label>
  <input type="text" name="password"> <br><br>

  <label for="">Role:</label>
  <input type="text" name="role"> <br><br>

  <button type="submit">ADD</button>
</form>