<h2>New Boss</h2>
<form action="/users" method="POST">
    <input type="text" name="Boss" placeholder="Boss user">
    <input type="text" name="Password" placeholder="Password">
    <input type="submit" value="Add">
</form>