<h2>Add a new user (only the boss)</h2>
<form class="styled" action="/users/new" method="post">
    <label>Image URL: </label><input type="text" name="picURL"></label><br><br>
    <label>Username: <input type="text" name="username"></label><br><br>
    <label>Role: <input type="text" name="role"></label><br><br>
    <label>Password: <input type="password" name="password"></label><br><br>
    <label>Bio: <input type="text" name="bio"></label><br><br>
    <button type="submit">Send</button>
</form>

