<h2>A new user.</h2>
<form action="/users" method="post">
  <label for="">Username:</label>
  <input type="text" name="username">

  <label for="">Name:</label>
  <input type="text" name="name">
  
  <label for="">Surname:</label>
  <input type="text" name="surname">

  <label for="">Address:</label>
  <input type="text" name="address">

  <label for="">Password:</label>
  <input type="text" name="password">

  <label for="">Role:</label>
  <select name="role">
    <option value="Developer">Developer</option>
    <option value="TA">TA</option>
  </select> 

  <button type="submit">ADD</button>
</form>
<br>
<br>
<a href="/auth/options">Home</a>