
  <form id="form" action="/new" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Username">

    <br><br>
    <label for="name">Name</label><br>
    <input type="text" name="name"
      placeholder="Name">
    <br><br>

    <label for="familyName">Family name</label><br>
    <input type="text" name="familyName"
      placeholder="familyName">
    <br><br>

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="Password">
    <br><br>

    <label for="role">Role</label><br>
    <input type="text" name="role"
      placeholder="Boss, Developer or TA">
    <br><br>

    <button>Create new user</button>
  </form>
