<h2>New User:</h2>
<div class="celebrity-wrapper">
<form action="/users" method="POST">
<input type="text" name="username" value="El Fary" placeholder="John Doe">
<input type="password" name="password" value="elfary" placeholder="Ocupation">
<input type="text" name="role" value="Boss" placeholder="Write the role (Boss, Dev or TA)">
<input type="submit" class="submit" value="Create">
</form>
<a href="/users">Go back</a>
</div>