<h2><%= user.username %></h2>
<h3><%= user.role %></h3>

<form action="/:userId/edit" method="POST" id="edit-form-container">

  <% if (user) { %>
    <label for="username">Username</label>
    <input type="text" name="username" value="<%= user.username %>">
  <% } %>


  <% if (typeof(message) != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Edit Account</button>

</form>
