<h2>User Details</h2>
<div>
  <p>Username: {{this.username}}</p>
  <p>Name: {{this.name}}</p>
  <p>Surname: {{this.surname}}</p>
  <p>Role: {{this.role}}</p>
  <br>
  <br>
  <a href="/auth/options">Home</a>
</div>