<form action="/courses/add" method="post">
  <label for="">Coursename:</label>
  <input type="text" name="coursename">

  <label for="">Duration:</label>
  <input type="text" name="duration">

  <label for="">Tema:</label>
  <input type="text" name="tema" id="tema">

  <button type="submit">ADD</button>
</form>
