<h2>Usuarios</h2>
{{#each users}}
<p>
  <span>User: {{this.username}} | </span>
  <span>Rol: {{this.role}} | </span>
  <a href="/profile/{{this._id}}">Ver perfil | </a>
  <a href="/deleteemployee/{{this._id}}">Borrar</a>
</p>
{{/each}}

<hr>
<a href="/profile">Ir a Perfil |</a>
<a href="/auth/logout">logout</a>