<h1>Add new User</h1>
<form action="/passport/newUser" method="POST">
    <label>User name:</label>
    <input type="text" name="username">
    <label>Role:</label>
    <input type="text" name="role">
    <label>Password:</label>
    <input type="password" name="password">
    <button type="submit">Create User</button>
</form>