<h2>Add a new Employee</h2>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form action="/boss/new" method="POST">
            <div class="form-group">
                <label for="field1">Username</label>
                <input type="text" class="form-control" id="field1" name="username">
            </div>
            <div class="form-group">
                <label for="field2">Password</label>
                <input type="text" class="form-control" id="field2" name="password">
            </div>
            <div class="form-group">
                <label for="field3">Role</label>
                <input type="text" class="form-control" id="field3" name="role">
            </div>
            <button type="submit" class="btn btn-dark">Add Employee</button>
        </form>