<form action="/newemployee" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="role" placeholder="Rol">
  <input type="submit" value="Agregar usuario">
</form>