<h1>Log in</h1>

<form action="/login" method="post">

<input type="text" name="username" placeholder="Username" id="">
<br>
<br>
<input type="password" name="password" placeholder="Password" id="">
<br>
<br>
<input type="submit" value="Puchame">


</form>