extends layout

block content

  if user
    h2 Hola #{user.displayName ? user.displayName : user.email}
  else
    h1 #{title}
  p Welcome to #{title} by Mel
  if user
    p Your current role is #{user.role}

    if user.role !== 'Student'
      button(onclick="window.location.href = '/users'" class="new") View all the Users registered in Ironhack