<form method="POST" action="/admin-tools/tools">
  <label for="username"><input type="text" placeholder="User"></label>
  <label for="password"><input type="password" placeholder="**********"></label>
  <label for="role"><select>
    <option value="TA">TA</option>
    <option value="DEVELOPER">DEVELOPER</option>
  </select></label>

</form>