<h1>Welcome!</h1>

<h3>Current user: {{currentUser}}</h5>
<h4>Current role: {{currentRole}}</h4>
<br />
<div><a href="/editprofile">Edit your profile</a></div>
<div><a href="/employees">List all employees</a></div>
<div><a href="/logout">Logout</a></div>
