<div>Actions page</div>
{{#if userRole}}
  <div>
    <h1>Boss, What Would You like To Do?</h1>
    <form action="/user-actions" method="POST">
      <label for="add">Add a New Employee: </label>
      <input type="text" name="newname" placeholder="New Employee UserName">
      <br>
      <label for="remove">Fire An Employee</label>
      <input type="text" name="removename" placeholder="Name of Fired Employee">
      <br>
      <button type="submit">Submit</button>
    </form>
    <br>
    <h1>Make Your Move, <span style="color: red;">{{ user.username}}</span> </h1>
    <img src="https://media.giphy.com/media/xUNd9HV2LlVElvqoaQ/giphy.gif" >
    <br>
    <a href="/">Index</a>
    <br>
    <button type="button" class="btn btn-danger"><a href="/logout" style="color:white">Log Out</a></button>
  </div>
{{/if}}