<h2>Add course</h2>

<form action="/taonly" method="POST" id="form-container">
  <label for="name">Course name:</label>
  <input id="name" type="text" name="name" placeholder="Course name">
  <br><br>
  <label for="duration">Duration:</label>
  <input id="duration" type="text" name="duration" placeholder="duration">

  <button type="submit">Add course</button>
</form>