<form action="<%= theBoss._id %>" method="post">
    <input type="text" name="username" value="<%= theBoss.username %>">
  <input type="pasword" name="password" value= "<%= theBoss.password %>" >
  <input type="text" name="role" value="<%= theBoss.role%>">


 <button type="submit">Submit</button>

</form>
<br><br>
  <a href="/">Go back</a>
  <br><br>
