<form action="/Course" method="POST">
  <div>
    <label for="name">name:</label>
    <input type="text" name="name" placeholder="Your course name">
  </div>
  <div>
    <label for="description">description:</label>
    <input type="text" name="description" placeholder="description">
  </div>
  <div>
    <input type="submit" value="Add course">
  </div>
</form>