<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <label for="role">Role</label>
    <select name="role">
      <option value="value1">BOOST</option>
      <option value="value2">DEVELOPER</option>
      <option value="value3">TA</option>
    </select></div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>