<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Your user name">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="********">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>