<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form action="/login" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </div>
      <div>
        <label for="username">Name:</label>
        <input type="text" name="name">
      </div>
      <div>
        <label for="username">Family Name:</label>
        <input type="text" name="user-name">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password">
      </div>
      <div>
        <label for="username">Role:</label>
        <input type="text" name="role">
      </div>
    <div>
      <input type="submit" value="Log In">
    </div>
</form> 
</body>