<h2>Login</h2>

<form action="/login" method="POST">
<div>
  <label for="username">Username : </label>
  <input type="text" name="username">
</div>
<div>
  <label for="password">Password :</label>
  <input type="password" name="password">
</div>
<br>
<div>
  <label for="rol">Rol: </label>  
  <select name="rol">    
       <option value="Boss">Boss</option>
       <option value="TA">TA</option>
       <option value="Developer">Developer</option>
   </select>
</div> 
<br>  
<div>
  <input type="submit" value="Log In">
</div>
</form>
<br>
 <a href="/">Index</a>