<h1>Logueate</h1>
<br>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <br>
  <button>Log in</button>
</form>

{{#if errorMessage}}
<h2>{{errorMessage}}</h2>
{{/if}}