<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <div>
    <label for="role">Role:</label>
    <input type="role" name="role">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
