<a href="/private-boss">Return</a>
<h1>Add Users</h1>

<form action="/private-boss" method="POST">
  <input type="text" placeholder="Username" name="username"> <br> <br>
  <input type="password" placeholder="Password" name="password"> <br><br>
  <select name="role">
    <option> Choose One</option>
    <option value="BOSS">Boss</option>
    <option value="TA">TA</option>
    <option value="DEVELOPER">Developer</option>
  </select>
  <br><br>
  <button type="submit">Add</button>
</form>