<h2>Nuevo empleado</h2>
<form action="/private/new" method="POST">
  <label>Username</label>
  <input id="inputName" type="text" name="username">
  <label>Password</label>
  <input id="inputPassword" type="text" name="password">
  <label>Role</label>
  <input id="inputRole" type="text" name="role">
  <button type="submit">Create</button>
</form>