<p>Ha entrado usted en zona altamente restringida ¡oiga!</p>
<p><a href="logout">Logout</a></p><br>
<p><a href="private/new">Añadir empleado</a></p>
<p><a href="private/users">Lista de empleados</a></p>

