<div>
  <h1>
    TA PAGE
  </h1>
  {{#each data}}
<h3>
{{ this.username}}
</h3>

<p>
  {{this.rol}}
</p>

<hr>
{{/each}}
</div>
<div>
  <h2>
    CHANGE PROFILE NAME
  </h2>
  <p>{{user.username}}</p>
  <form action="/change/{{user.username}}" method="POST">
  <input type="text" name="newusername" value="">
  <button type="submit">Change</button>
</form>
</div>