<div>Private page</div>
{{#if user}}
<div>
  <h1>Private page</h1>
  <a href="/">Index</a><br><br>
  <a href="/private-page1">PRIVATE 1</a><br><br>
  <a href="/private-page2">PRIVATE 2</a>
</div>
{{/if}}