<h2>Users List</h2>
<ul>
{{#each user}}
<li><a href="/privateusers/{{this._id}}">User: {{this.username}}</a> // Rol: {{this.rol}}</li>
{{/each}}
</ul>
<p><a href="/privateboss">Add new users</a></p>
<p><a href="/logout">Logout</a></p>