<div>Private page 1</div>
{{#if user}}
<div>
  <h1>Private page 1</h1>
  <a href="/">Index</a><br><br>
  <a href="/private-page">PRIVATE</a><br><br>
  <a href="/private-page2">PRIVATE 2</a>
</div>
{{/if}}