<div>Private page</div>
{{#if user}}
  <div>
    <h1>Who's the Boss?</h1>
    <h1>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h1>
    <a href="/">Index</a>
  </div>
{{/if}}