<h2>User: {{user.username}}</h2>
<p>Rol: {{user.rol}}</p>
<form action="/edit/{{user._id}}" method="post">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <input type="submit" value="Edit this user">
</form>
<p><a href="/privateusers">Go to user list</a></p>