<h1>BOSS</h1>
{{#each users}}
  <h3>{{this.username}}</h3>
  <a href="/delete/{{this.id}}">Delete</a>
{{/each}}

  <a href="/">Index</a>
  <a href="/private-page">PRIVATE</a>
  <a href="/private-page1">PRIVATE 1</a>
