<div>Private page</div>
{{!-- {{#if user}} --}}
{{#if checkBoss}}

<div>
  <h1>Who's the Boss?</h1>
  <h1>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h1>
  <a href="/">Index</a>
</div>


{{!-- <div>
  <h1>Who's the best developer?</h1>
  <h1>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h1>
  <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
  <a href="/">Index</a>
</div> --}}
{{/if}}