<div>Private page</div>
<% if (user) { %>
  <div>
    <!-- <h1>Boss Man</h1> -->
    <h1>You are, <span style="color: red;"><%= user.username%></span>. You are. </h1>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
  </div>
<% } %>

<form action="/edit-profile">
  <button class="pure-button">Edit Profile</button>
</form>


<% if (user.role === "Boss") { %>
<a href="/edit">Add New User</a>
<% } %>
