<h2>User's home page</h2>
<ul>
  <li>Name: {{username}}</li>
  <li>Role: {{role}}</li>
</ul>
<form action="/user/{{_id}}/edit"><input type="submit" value="Edit"></form>
<a href="/list-of-users">List of Users</a>