<h2>User's home page</h2>
<ul>
  <li>Name: {{userById.username}}</li>
  <li>Role: {{userById.role}}</li>
</ul>
{{#is userById.username loggedUserName}}
<form action="/user/{{userById._id}}/edit"><input type="submit" value="Edit"></form>
{{/is}}
<a href="/list-of-users">List of Users</a>