<form action="/signup" method="POST">
  <input type="text" placeholder="username" name="username">
  <input type="text" placeholder="password" name="password">
  <select id="role" name="role">
    <option value="Boss">Boss</option>
    <option value="Developer">Developer</option>
    <option value="TA">TA</option>
    <option value="Student">Student</option>
  </select>
  <button>Create User</button>
  <a href="/courses">courses</a>
    <a href="/users">users</a>
</form>