<h2>Add new users in the I Platform</h2>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Insert Username">
  <input type="text" name="password" placeholder="Insert Password">
  <input type="text" name="role" placeholder="Insert Role">
  <input type="submit" value="Submit information">
</form>
<a href="/main">Go back to Home</a>
<a href="/list-of-users">List of Users</a>