<h2>Signup</h2>


<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username"
    placeholder="username">

  <br><br>
  <label for="name">name</label><br>
  <input type="text" name="name"
    placeholder="name">
  <br><br>
  <label for="familyName">familyName</label><br>
  <input type="text" name="familyName"
    placeholder="familyName">
  <br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"
    placeholder="password">
  <br><br>
  <label for="role">role</label><br>
  <input type="text" name="role"
    placeholder="role">
  <br><br>

  <button>Create account</button>
  <a href="/">Back to home</a>
</form>
