<form action="/signup" method="POST">
  <input type="text" name="username">
  <input type="text" name="password">
  <select id="role" name="role">
    <option value="Boss">Boss</option>
    <option value="Developer">Developer</option>
    <option value="TA">TA</option>
    <option value="Student">Student</option>
  </select>
  <button>Create User</button>
</form>