<form id="form" action="/signup" method="POST">
    <h2>SIGN UP !</h2>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username"> <br> <br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="********"> <br>
    <label for="role">Role</label>
    <input type="text" name="role" placeholder="Your role"> <br>
    
    {{#if errorMsg}}
        <div class="error-message">{{ errorMsg }}</div>
    {{/if}}

    <button type="submit">Create account</button>
</form>