<form action="/signup" method="post">
  <input type="text" name="username" value="" autocomplete="">
  <input type="password" name="password" value="" autocomplete="">
  <select name="rol">
    <option> Choose One</option>
    <option value="Boss">Boss</option>
    <option value="TA">TA</option>
    <option value="Developer">Developer</option>
  </select>
  <input type="submit" value="Login">
</form>
