<h2>Sign Up</h2>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <select name="role">
    <option> Choose One</option>
    <option value="BOSS">Boss</option>
    <option value="TA">TA</option>
    <option value="DEVELOPER">Developer</option>
  </select>
  <button type="submit">Sign up</button>
</form>

{{#if message}}
<div class="error-message"></div>{{message}}</div><br>
{{/if}}

