<form action="/create-employee" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <select name="role">
        <option value="Boss" disabled>Boss</option>
        <option value="TA">TA</option>
        <option value="Developer">Developer</option>
    </select>
    <input type="submit" value="Sign up">
</form>