<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
Hello, Ironhacker!
<br>
<br>
Please sign up :)
<br>
<br>
<br>

<form action="/" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Your Name">
  <br>
  <br>
  <br>

  <label for="password"> Password </label>
  <input type="password" name="password" placeholder="New Password">
  <br>
  <br>
  <br>

  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Your Name">
  <br>
  <br>
  <br>

  <button type="submit">Submit</button>
</form>

</body>
</html>
