<h2>Sign Up</h2>
<form action ="/signup" method="POST" >
<label for="username">Username</label>
<input id="username" type="text" name="username">
<br>
<label for="password">Password</label>
<input id="password" type="password" name="password">
<label for="rol">Rol</label>
  <select name="rol">    
       <option value="Boss">Boss</option>
       <option value="TA">TA</option>
       <option value="Developer">Developer</option>
   </select>
<button>Create account</button>
<br>
<p>Do you already have an account ? 
  <a href="/login">Login</a>
</p>
</form>