<h2>Add a Room</h2>
<form action="/rooms/add" method="post" enctype="multipart/form-data">
  <label>Name</label>
  <input type="text" name="name">
  <label>Description</label>
  <input type="text" name="description">
  <label>Image</label>
  <input type="file" name="imageUrl">
  <input type="submit" value="SAVE">
</form>

