<form action="/portal/addEmployee" method="post">
  <label for="username">Username</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="familyName">FamilyName</label><br>
  <input type="familyName" id="familyName" name="familyName"><br>
  <label for="password">Password</label><br>
  <input type="password" id="password" name="password"><br>
  <select name="role">
   <option value="Developer">Developer</option>
   <option value="TA" selected>TA</option>
   <option value="Alumni">Alumni</option>
 </select>
  <br>
  <button> Modify user</button>
</form>
