<h2>add course</h2>

<form action="/add-course" method="POST">

  <label for="field1"> Name</label>
  <input type="text" id="field1" name="name">
  <br>

  <label for="field2">teacher</label>
  <input type="text" id="field2" name="teacher">
  <br>

  <label for="field3">duration</label>
  <input type="text" id="field3" name="teacher">
  <br>
  <br>

  <button type="submit">Add</button>
  <br>
  <a href="/courses">Go back to list of courses</a>

</form>

<a href="/">Take me home</a>