<h1>Add User</h1>
<form action="/user/add" method="post">


    <label for="username-input">User</label>
    <input name="username" type="text" id="username-input">



    <label for="password-input">Pass</label>
    <input name="password" type="password" id="password-input">



    <button type="submit" class="btn btn-dark">Create new User</button>

</form>