<h2>Panel de Administración</h2>

<h3>Agregar usuario</h3>

<form action="" method="POST">
  <p>
    <label>Email</label>
    <input type="email" name="email" />
  </p>
  <p>
    <label>Password</label>
    <input type="password" name="password" />
  </p>
  <p>
      <select name="rol" id="">
          <option value="TA">TA</option>
          <option value="Developer">Developer</option>
      </select>
  </p>
  <p>
    <input type="submit" value="Crear">
  </p>
</form>