<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  <h1>Add A User</h1>
  <form action="/adduser" method="POST">
    <input type="text" name="username" placeholder="username" required>
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="familyName" placeholder="familyName" required>
    <input type="text" name="password" value="iloveironhack" required>
    <input type="text" name="role" placeholder="TA/Developer/Boss" required>
    <button type="submit" name="button">Add User</button>
  </form>
</body>
</html>
