<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="col-md-offset-5 col-md-3">
      <h1>SIGN-UP</h1>
          <form method="POST" action="signup" class="form-login">

            <input name="username" type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>

            <input name="email" type="text" id="userEmail" class="form-control input-sm chat-input" placeholder="email" />
            </br>

            <input name="password" type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
            </br>

            <input name="role" type="text" id="userRole" class="form-control input-sm chat-input" placeholder="role"/>
            </br>

          <div class="wrapper">
          <span class="group-btn">

              <button class="btn btn-primary btn-md">ADD USER<i class="fa fa-sign-in"></i></button>
          </span>
          </div>
        </form>

      </div>
  </body>
</html>
