<h2>Administration</h2>

<form action="/administration" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="enter username">
  <br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="enter password">
  <br>
  <label for="role">Role</label>
  <input id="role" type="text" name="role" placeholder="enter role">
  <button type="submit">Create user</button>

</form>