<h2>Nuevo Alumni</h2>

<form action="/alumni/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="username">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br><br>

    <label for="role">Role</label>
    <select name="role" id="">
      <option value="STUDENT">ESTUDIANTE</option>
    </select>
    
    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <br><br>

    <button>Crear Alumni</button>

    <p>
    <a href="/">Página principal</a></p>
</form>