{{#each users}}
  {{#ifEquals this.role "Boss"}}
  <h3>Username: {{this.username}}</h3>
  {{else}}
  <h3>Username: {{this.username}}</h3>
  <form action="/control-panel" method="post"><button style="margin-bottom: 2rem" type="submit">Remove</button></form>
  {{/ifEquals}}
{{/each}}