{{#each users}}
  {{#ifEquals this.role "Boss"}}
  <p>Username: {{this.username}}</p>
  {{else}}
  <p>Username: {{this.username}}</p>
  <form action="/control-panel" method="post"><button style="margin-bottom: 2rem" type="submit">Remove</button></form>
  {{/ifEquals}}
{{/each}}