<form action="/course-add" method="post">
  <label for="">Course name:</label>
  <input type="text" name="course">

  <label for="">Description:</label>
  <input type="text" name="description">

  <button type="submit">ADD</button>
</form>