<h2>Courses list</h2>
<h3>Courses</h3>
<ul>
  {{#each course}}
  <li>Name: {{title}}</li>
  <li>Type: {{type}}</li>
  <li>Description: {{description}}</li>
  <br>
  {{/each}}
</ul> 

<a href="/">Back</a>