<h1>Create a Course</h1>

  <form action="/courses/create" method="POST">
    <label >Name: <input name="newName" type="text"></label>
    <label >Content: <input name="newContent" type="text"></label>
    <button type="submit">Submit</button>
  </form>