<div class="coursesContainer">
  {{!-- <h1>Hi <span class="capitalize">{{@root.user.username}}</span>!</h1> --}}
  <h2>This is the list of courses</h2>
  {{#each courses}}
    {{> courseList}}
  {{/each}}
  {{#equal @root.user.role "TA"}}
    <a href="/courses/add" class="btn btn-secondary btnAdd roundedBtn w100">Add course</a>
  {{/equal}}
</div>
