<div class="container">
  <h1> These are the details of {{fullUser.username}}</h1>

  <ul class="list">
    <li>Name: {{fullUser.username}}</li>
    <li>Role: {{fullUser.role}}</li>
  </ul>


  <a href="/" class="btn btn-dark">Back home</a>
  <a href="/list" class="btn btn-dark">Back to list</a>
  <a href="{{fullUser._id}}/edit" class="btn btn-dark">Edit</a>
  <a href="/delete" class="btn btn-dark">Delete</a>

</div>

</div>