  <h1>developers list</h1>
  {{#each users}}
        <li>{{username}}
          <div>
            {{!-- <a href="/developers/detail/{{_id}}">Ver detalles</a>
            -
            <a href="/edvelopers/edit?developersId={{_id}}">Editar developer</a> --}}
          </div>
        </li>
        {{/each}}
