<h1>DEVELOPER's PERSONAL PAGE</h1>

<a href="/editprofile">Edit your profile</a>
<br>
<a href="/userlist">View all users list</a>

<br><br><br><br>
<a href="/">Index</a>
<br>
<a href="/logout">Logout</a>