 <form action="/users/{{_id}}" method="POST">
      <label for="username">username: </label><input type="text" name="username" value='{{this.username}}'>
      <button>edit</button>
      <a class="cancel" href="/users/{{_id}}">Cancel edit</a>
    </form>