<form action="/<%=user._id%>/edit" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="familyName">familyName</label>
    <input type="text" name="familyName" id="familyName">

    <label for="password">password</label>
    <input type="text" name="password" id="password">

    <button type="submit">Edit</button>
</form>