<h1>{{username}}</h1>
<form action="/users/edit" method="post">
  <label for="">Change name:</label>
  <input type="username" name="username">

  <label for="">Change password:</label>
  <input type="password" name="password">

  <button type="submit">EDIT</button>
</form>