<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Alumni</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active">Edit Alumni</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">
        <div class="card">
            <div class="card-body">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <form action="/edit/alumni/{{alumni._id}}" method="POST">
                            <input type="hidden" name="id" value="{{alumni._id}}">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Course</label>
                                    <input type="text" class="form-control" name="name" value="{{alumni.name}}">
                                </div>
                                <div class="form-group">
                                    <label>Surname</label>
                                    <input type="text" class="form-control" name="surname" value="{{alumni.surname}}">
                                </div>
                            </div>

                            <div class="card-footer">
                                <a href="/alumni">
                                    <div class="btn btn-secondary">Back</div>
                                </a>
                                <button class="btn btn-success float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>