<form action="/users/edit-user" method="POST">
  <input type="text" name="username" value="{{userEdit.username}}" placeholder="Name">
   {{!-- <input type="text" name="password" value="{{userEdit.password}}" placeholder="Password"> --}}

<label for="role">Role</label>

<select name="role" value="{{userEdit.role}}">
  <option value="BOSS">BOSS</option>
  <option value="DEVELOPER">DEVELOPER</option>
  <option value="TA">TA</option>
</select>

  <input type="hidden" name="_id" value="{{userEdit._id}}">

  <input type="submit" value="Edit user details">
</form> 