<div class="edit">
    <h2>Edit Profile</h2>

    <form class="edit-form" action="/edit" method="POST">
        <input required="required" type="text" value="{{user.username}}" name="username">
        <input required="required" class="hidden_id" name="id" value="{{user._id}}">
        <button type="submit">Save!</button>
    </form>
</div>