<h2>Edit your username</h2>

<form action="/edit-user" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value={{user.username}}>
  <br>
  <input type="submit" value="Save changes">
</form>