
<form action="/edit" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="change username" value="{{username}}">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="change password" value="{{password}}">
</form>