<h1>Edit profile</h1>
<br>
<br>
<form action="/edit-profile" method="post">
  <p>
    <label for="">Name</label>
    <input type="text" name="name">
  </p>
  <p>
    <label for="">Last Name</label>
    <input type="text" name="lastname">
  </p>
  <p>
    <label for="">Email</label>
    <input type="email" name="email">
  </p>
   <p>
    <label for="">Password</label>
    <input type="password" name="password">
  </p>
  <p>
    <select name="role" id="">
      <option value="TA">TA</option>
      <option value="DEVELOPER">DEVELOPER</option>
    </select>
  </p>
  <input type="submit" value="edit">