<form action="/editrol" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="username">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="role">



  <button type="submit">Update Product</button>
</form>
