<h2>Edit Profile</h2>


<form action="/edit" method="POST">

<input type="text" name="username" value="{{data.username}}">

<input type="hidden" name="id" value="{{data.id}}">

<input type="submit">
</form>

