<h2>Editar</h2>

<form action="/profile/{{_id}}" method="post">
    <label for="">username:</label>
    <input type="text" name="username" value="{{username}}"><br>

    <label for="">password:</label>
    <input type="text" name="password" value="{{password}}"><br>



    <button type="submit">UPDATE</button>
</form>