<h2>Editar un empleado</h2>

<form action="/auth/employee-edit/{{employee.id}}" method="post">
  <label for="">Nombre:</label>
  <input type="text" name="username" value="{{employee.username}}"><br><br>

  <button type="submit">Editar celebridad</button>

</form>