 <a href="/auth/logout">Logout</a>
 <a href="/private">Home</a>
<form 
{{#if _id}}
  action="/empleado/{{_id}}/edit" 
{{else}}
  action="/empleado/new"
{{/if}}
method="POST">
  <div>
    <label for="">
      Name:
      <input type="text" name="name" value="{{name}}">
    </label>
  </div>
  <div>
    <label for="">
      Lastname:
      <input type="text" name="lastname" value="{{lastname}}">
    </label>
  </div>
    <div>
      <select name="role"> 
        <option value="TA">Teacher assistant</option>
        <option value="DEV">Developer</option>
      </select>
  </div>
  <button type="submit">Submit</button>
</form>