<form action="/employees/add" method="post">
  <label for="">First name:</label>
  <input type="text" name="firstName">

  <label for="">Second name:<./label>
  <input type="text" name="secondName">

  <button type="submit">ADD</button>
</form>