 <a href="/auth/logout">Logout</a>
 <a href="/private">Home</a>
<form action="/empleado/new" method="POST">
  <div>
    <label for="">
      Name:
      <input type="text" name="name">
    </label>
  </div>
  <div>
    <label for="">
      Lastname:
      <input type="text" name="lastname">
    </label>
  </div>
  <button type="submit">añadir empleado</button>
</form>