<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/login" method="post">
<input type="text" name="email" placeholder="Email">
<input type="text" name="password" placeholder="Password">
<input type="submit">
</form>

<a href="/facebook"> Login con FB</a>