<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/TA">TA</a>
<a href="/boss">BOSS</a>
<a href="/developer">DEVELOPER</a>
<a href="/login">LogIN</a>

{{#if msg}}
<small style="color: red">{{msg}}</small>
{{/if}}