<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>The first time application runs, a user of ROLE Boss is created<</p>
<p>please login with username:"boss" password "boss"</p>

<a href="/login">Login</a>

