<section class="main">
  <h1>Welcome {{user.username}}</h1>
  <p>Role: {{user.role}}</p>
  <a href="/logout">Logout</a>

  {{#if BOSS}}
    <a  href="/create-user">Create User</a>
  {{/if}}

  <a  href="/list-users">List Users</a>
</section>