<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Esta es mi pagina principal donde los users se registrarán como Boss, TA o Developer...
  <ul>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/signup">Signup</a></li>
    <li><a href="/auth/facebook">Login with Facebook</a></li>
  </ul>
</body>
</html>
