<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/login">Login</a>
<a href="/signup">Singup</a>
<a href="/logout">Logout</a>
<a href="/employees">Employees</a>

 {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}