<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/login">Ir a login</a><br><br>
<a href="/signup">Ir a signup</a><br><br>
<a href="/private-page">Ir a página privada (sólo con sesión iniciada)</a>
