<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Doesn't have an Account? <a href="/signup">Sign up now!</a></p>
<p>Already have an Account? <a href="/login">Sign in here!</a></p>
<p>Admin Console <a href="/admin-console">Click here!</a></p>
