
<h1 style="color:white;">Welcome to Ironhack Miami!</h1>

<button type="button"  class="btn btn-primary"><a href="/login" style="color:white;">Log In</a></button>
<button type="button"  class="btn btn-success"><a href="/signup" style="color:white;">Sign Up</a></button>

