<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  <h1>Ironhack Bureau Investigation</h1>
<% if(user) { %>
  <h2>Hola usuario <%= user.name %></h2>
  <a href="/logout">Log out</a>
  <a href="/employee">Employees list</a>
<% }else{ %>
  <a href="/signup">Signup</a> |
  <a href="/login">Login</a>
<% } %>

</body>
</html>
