<div class="grid-x grid-margin-x">
  <div class="large-4 cell">
    <h2>Hello, Ironhacker!</h2>
    <% if (user) { %>
      <p>Welcome, you are logged in</p>
    <% } %>
  </div>
  <div class="large-2 cell">
    <% if (!user) { %>
      <% include auth/login.ejs %>
    <% } %>
    <% if (user) { %>
      <a href="/logout" class="button secondary">Log out</a>
    <% } %>
  </div>
</div>
