
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/login">Login</a> |
<a href="/signup">Sign up</a> |
<a href="/profile">Profile's list</a> |
<a href="/courses">Check the courses</a> |
<a href="/edit/{{user.id}}">Edit My Profile</a> |
<a href="/create">Create a course</a> |
<a href="/logout">Logout</a>