
  <div class="container">
      <header class="header">
        <div class="header-text">
          <span><h1> MAIN MENU </h1> </span>
          <section class="header-list">
            <span> <a class="index-a" href="/signup"> New? Create an account </a> </span>
            <span> <a class="index-a" href="/login"> Log in </a> </span>
            <span> <a class="index-a" href="/bossPage"> Boss access </a> </span>
            <span> <a class="index-a" href="/courses"> Ironhack Courses </a> </span>
            <span> <a class="index-a" href="/users"> Ironhack Users </a> </span>
          </section>
        </div>
      </header>
  </div>

  <h1 class="index-title"> Hello, Ironhacker!  </h1>
  <h3> Your inside a Pol Gasull CRUD & Passport Exercise </h3>
