<!DOCTYPE html>
<html>
  <head>
    <title>IBI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/login">Login</a>
    <p>
    <a href="/logout">Logout</a>
    <p>
  </body>
</html>
