<h1>WELLCOME</h1>
<ul>
<% users.forEach((u)=>{%>
   <li><%= u.name %> | <a href="/profile/<%=u._id%>">View Profile</a></li>
<%})%>
</ul>
<%if(identity.role == "TA"){%>
  <a href="/create">Create a Course</a> |
  <a href="/courses">Courses List</a> |
<%}%>

<a href="/logout">Log Out </a>
