<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Ironhacker!</br>
  <a href="login">Login</a></br>
  <a href="publiclist">Publiclist</a></br>
  <a href="list">List</a><span>(Only the chief can access)</span></br>
  <a href="passport/logout">Log out</a></br>
  <a href="private">Profile</a>



</body>
</html>
