<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>

<body>
  Hello, Ironhacker!

  <a href="/login" style="color:rgb(0, 132, 255)">Login!</a>
  <br>
  <br>
  <a href="/signup" style="color:rgb(247, 0, 255)">Sign Up!</a>
</body>

</html>