<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Ironhacker!
  <p></p><a href="/signup">signup</a></p>
  <p><a href="/login">login</a></p>
</body>
</html>
