<h1>Welcome to Ironhack Bureau Investigation!</h1>

<p>Please log in to access the platform</p>

<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="enter your username" id="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="enter your password" id="password">
  <br>
  <input type="submit" value="Log in">
</form>