<div class="index-page"></div>
<h1>{{title}}</h1>

<div class="index-page">
<a href="/login">Login</a>
<a href="/signup">Signup</a>
<a href="/private-page">Private page</a>
<a href="/show">Show users details</a>


</div>