<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p><a href="/viewProfiles">Lista de usuarios</a> (tienes que tener permiso de Boss, TA o Developer para verlo)</p>
<p><a href="/viewCurses">Lista de cursos</a> (tienes que tener permiso de Boss, TA, Developer o Student para verlo)</p>

<hr>

<p>多Eres BOSS?</p>
<p><a href="/add">a単adir personas</a></p>
<p><a href="/delete">eliminar personas</a></p>

<hr>

<p>多Eres TA?</p>
<p><a href="/addCurses">a単adir cursos</a></p>
<p><a href="/deleteCurses">eliminar cursos</a></p>