<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/user/login">Inicia tu sesión</a>
<a href="/user/signUp">Registrese compadre</a>
<a href="/user/list">sesión Popino</a>
<a href="/user/logout">Cerrar sesión</a> <br>