<div class="columns is-centered">
	<div class="column is-6">
		<h2 class="title is-3">Welcome to platform</h2>
		<hr>
		<a class="button is-fullwidth is-primary"  href="/login">Let's start</a>
	</div>
</div>