<div class="card">
  <div class="card-body">
    <h1 class="display-4">welcome</h1>
    <div class="d-flex flex-column bd-highlight mb-3">
      <a class="btn btn-info mb-3" href="/signin">signin</a>
      <a class="btn btn-info" href="/signup">signup</a>
    </div>
    <p>visit the <a href="http://github.com/diegormedia">diego ramos</a> profile!</p>
  </div>
</div>