<h1>Users, courses and so on</h1>
<a href="/users">Go to Users Page (Authentication needed)</a><br><br>
<a href="/courses">Go to Courses Page (Authentication needed)</a><br><br>
<a href="/signup">New Student Registration (Anyone)</a><br><br>
<a href="/login">User Login</a><br><br>
<a href="/logout">User Logout</a><br><br>
<a href="/users/new">Add users (Only the boss)</a><br><br>


