<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
      <p>
        <%= welcomeMessage %>
      </p>
  <br>
  <a href="/login">Login</a>
  <a href="/logout">Log-Out</a>
  <br>
  <a href="/users">User List</a>
  <br>
  <a href="/adduser">Add A User</a>
  <a href="/deleteUser">Delete A User</a>
</body>
</html>
