<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
	<a href="/private_page_boss">Boss Zone</a>
	<br>
	<a href="/private_page_TA">TA Zone</a>
	<br>
	<a href="/private_page_dev">Dev Zone</a>
</div>
<br>
<a href="logout">Logout</a>