<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Ironhacker!

  <% if (user) { %>
    <div>
      <h1>Welcome, <span style="color: red;"><%= user.username %></span></h1>
      <a href="/">Index</a>
    </div>
  <% } %>

  <% if (user.role === "BOSS") { %>
    <div>
      <a href="/create-user">Create New User</a>
    </div>
  <% } %>

  <% users.forEach((user) => { %>
    <h2>
      <a href="">
        <%= user.username %>
      </a>
    </h2>
  <%  }) %>

</body>
</html>
