<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  <h2>Hello, Ironhacker!</h2>

  <p class="account-message">
    Aun no tienes cuenta?
    <a href="/auth/signup">Registrate</a>
  </p>
  <p class="account-message">
    Ya tienes cuenta?
    <a href="/auth/login">Haz login</a>
  </p>
</body>
</html>
