<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  <h1><%= title %></h1>
  <% if(user !== undefined) { %>
    <p>Hello <%= user.username %></p>
    <p>Your ROLE: <b><%= user.role %></b></p>
    <p><a href="/signup-private">Create new employee</a></p>
    <a href="/auth/logout">Logout</a>
  <% }else{ %>
  <a href="/auth/login">Login</a>
<% } %>

<% if(message) { %>
<p><%= message %></p>
<% } %>


</body>
</html>
