<div class="hero-section">
<h1>{{title}}</h1>
<div class="lists-wrapper">
  <a href="/users">BROWSE THE LIST OF USERS</a>
  <a href="/courses">BROWSE THE LIST OF COURSE</a>
</div>
<p>*no, not really 🌚</p>
</div>