<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/login">
  <button>Login</button>
</a>
<br>
<p>Please create BOSS profile using <b>http://localhost:3000/signup</b> first. Afterwards, he/she can add users.</p>