<div class = "container">
  <h1>Welcome to the Ironhack Bureau Investigation</h1>
  <img
    src="https://static.spacecrafted.com/cb0d364909d24dda9229292f57656d38/i/ef4eee4ca4ba4f339484d2b0067b34a4/1/4SoifmQp45JMgBnHp7ed2/Ironhack.png"
    alt="">
    <br>
  <a href="/login"><button>Access</button></a>
</div>
