<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Ironhacker!
  <a href="/login">Login</a>
  <% if (user) {%>
    <h3>Hey <%= user.name%>!</h3>
    <a href="users/<%= user.username %>">View Profile</a>
  <% } %>

  <% if (user && user.role==="Boss") {%>
    <a href="/employees">Employees</a>
  <% } %>

  <a href="auth/facebook">Alumni Login with Facebook</a>
  <a href="/logout">Logout</a>
  <a href="/courses">Courses</a>
  <a href="/users">Users</a>
</body>
</html>
