<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Ironhacker!

  <br></br>
  <a href="/courses">Courses</a>
  <br><br>
  <% if(!isUserLoggedIn) {  %>
  <a href="/login">Login</a>
  <% } %>
  <% if(isUserLoggedIn) {  %>
    <br></br>
    <a href="/users">Show users</a>
    <br></br>
    <a href="/logout">Logout</a>
    <% if(currentUser.role == "Boss"){ %>
  <br></br>
  <a href="/create">Add users</a>
  <% }} %>
</body>
</html>
