<div class="home-page">
  <h1>WHO ARE YOU?</h1>
  <img src="https://media.wired.com/photos/5bef60888cd3bb7c5ea63882/master/pass/Fingerprints-182668331.jpg" alt="fingerprint">
  <p>Please, in order to proceed, identify yourself!</p>
  <a href="/login" class="btn">LOGIN</a>
</div>