<h1>Who are you?</h1>

<a href="/admin">I'm the BOSS</a><br>
<a href="/ta">I'm a TA</a><br>
<a href="/developer">I'm a DEVELOPER</a>

<br><br><br><br>
<a href="/login">Login</a>
<br>
<a href="/logout">Logout</a>
