<h1>Welcome to Ironhack Bureau Investigation</h1>
<a href="/signup">Sign Up</a> <br><br>
<a href="/login">Log In</a> <br><br>
<a href="/employees">List of employees</a> <br><br>
<a href="/addEmployees">Add employees</a> <br><br>




