

<h1>holi😸 {{user.username}}</h1>
<p><a href="/signup">Ir a Sign Up</a></p>
<p><a href="/login">Ir a login</a></p>
<p>Si tienes role de Boss ir a <a href="/bossAdmin">administrar usuario</a></p>
<p>Si tienes role de Employee ir a <a href="/employees">usuario</a></p>
