<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div> <a href="/login">Iniciar sesión</a></div>
<div> <a href="/logout">Cerrar sesión</a> </div>
<br>

<div>¿Eres nuevo Alumni?<a href="/alumni/signup"> Regístrate</a></div>


{{#if msg}}
<small style="color: red">{{msg}}</small>
{{/if}}