<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>

<body>
  Hello, Ironhacker!

  <div>
    <% if (typeof message != "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
      <% } %>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/signup">Signup</a>
      </li>
      <li>
        <a href="/private">Private Page</a>
      </li>
    </ul>
  </nav>
</body>

</html>