<h3>Hi there cowboy!</h3>

<a href="/auth/facebook">Login With Facebook</a>

<div class="infoText">
    <% if (typeof message !== 'undefined') { %>
        <p class="error">
            <%= message %>
        </p>
        <% } %>
</div>
<form action="/logout" method="post">
    <button>Logout</button>
</form>