
  <h1 class="index-title"> Hello, Ironhacker! </h1>

  <p> <a class="index-a" href="/signup"> New? Create an account </a> </p>
  <p> <a class="index-a" href="/login"> Log in </a> </p>
  <p> <a class="index-a" href="/bossPage"> Boss access </a> </p>
  <p> <a class="index-a" href="/courses"> Ironhack Courses </a> </p>
  <p> <a class="index-a" href="/users"> Ironhack Users </a> </p>

