<div class="text-center">
  <h1>
  You are in INDEX
  </h1>
  
  <h2>What do you want to do?</h2>

</div>

<div class="panel-heading text-center">
  Dont't have an account?
  <a href="/signup" class="btn btn-primary">Sign up </a>
</div>

<div class="panel-heading text-center">
  Or do you?
  <a href="/login" class="btn btn-success">Log in </a>
</div>

