<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Are you logged in? Watch your tagline!</p>

<a href="mytagline">My Tagline</a>

<p>Are you logged in? Watch our users!</p>

<a href="allusers">All Users</a>