<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div class="nav">
    <a href="/profiles">Employee profiles</a>
    <a href="/profiles/new">Add employee</a>
    <a href="/courses">Courses</a>
    <a href="/courses">My courses</a>
    <a href="/courses/new">Add course</a>
    <a href="/logout">Logout</a>
    <a href="/login">Login</a>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>