<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <div class=container>

    <nav>
      <a href="/">Inicio</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
      <a href="/logout">Logout</a>
    </nav>

  </div>

  {{{body}}}


  {{!-- <nav style="margin-top: 60px;">
    <a href="/private-page">User access</a>
    <a href="/roles/boss">Boss access</a>
    <a href="/roles/developer">Developer access</a>
    <a href="/roles/ta">TA access</a>
  </nav> --}}

  <script src="/javascripts/script.js"></script>
</body>

</html>