<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <a href="/">inicio</a>
    <a href="/signup">registro</a>
    <a href="/login">entrar</a>
    <a href="/logout">cerrar sesión</a>
    <a href="/profile">perfil</a>
  </nav>

  <nav>

    <a href="/boss-page">Boss page<a>
  </nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>