<ul>
  {{#each users}}
  <li><b>Name: </b><a href="/profile/{{id}}">{{username}}</a></li>
  {{/each}}
</ul>
<a href="/create"><button>Add new user</button></a>
<a href="/logout"><button>Logout</button></a>