<form action="/login" method="POST">
  <input type="text" name="username" value="" placeholder="Enter username">
  <input type="password" name="password" value="" placeholder="Enter password">
  <input type="submit" value="Login">
</form>