<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IBI Login</title>
</head>
<body>
  <h2>Login</h2>
<form class="" action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" required="">
  <label for="password">Password: </label>
  <input type="password" name="password" required="">
  <button>Log in</button>
</form>
<% if (typeof(errorMessage) != 'undefined'){   %>
  <p>ERROR: <%=errorMessage%></p>
<% }                                        %>
</body>
</html>
