<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username" value="" required>
    <input type="password" name="password" placeholder="Password" value="" required>
    <input type="submit" value="Log in">
</form>