<h2>Login</h2>
<form action="/login" method="POST">
<p>
<label for="user">Username:
<input type="text" name="username">
</label>
</p>
<p>
<label for="password">Password:
<input type="text" name="password">
</label>
<input type="submit">
</form>