<h2>Log in:</h2>
<div class="celebrity-wrapper">
<form action="/login" method="POST">
<input type="text" name="username" value="El Fary" placeholder="John Doe">
<input type="password" name="password" value="elfary" placeholder="Ocupation">
<input type="submit" class="submit" value="Login">
</form>
<a href="/users">Go back</a>
</div>