<form action="/login" method="POST">
    <h2>LOG IN</h2>
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="User name" value="" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="Password" value="" required>
    </div>
    <div>
      <input type="submit" value="Log In">
    </div>
</form>