<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="General Manager">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="injaqueable69">
  </div>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
</form>