<h2>Login to the IBI Platform</h2>

<form action="/login" method="POST">
  <label>USERNAME:<input type="text" name="username" placeholder="username"></label>
  <label>PASSWORD:<input type="text" name="password" placeholder="password"></label>
  <input type="submit">
</form>
