<h1> Welcome to our Platform!</h1>

<ul>
 <li> <a href="/profile-list"> Profiles </a></li>
 <li> <a href="/profile/{{ownProfile}}"> See your own profile </a></li> 
 <li> <a href="/course/add"> See Courses</a></li> 

</ul>