<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/tachyons.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        MyProfile
    </title>
</head>

<body>
  <a href="/all-profiles">See All the Profiles</a><br />
  <a href="/edit/<%= user._id %>">Edit my Profile</a><br />
    <a href="/add-user">Add Users</a><br />
    <a href="/create-course">Create Course</a>
    <a href="/courses">List Courses</a>
</body>

</html>
