<form action="/employees/new" method="POST">
  <p>
    Email:
    <input type="email" name="email" id="" required>
  </p>
  <p>
    Username:
    <input type="text" name="username" id="">
  </p>
  <p>
    Password:
    <input type="password" name="password" id="">
  </p>
<select name="role">
  <option value="DEVELOPER">DEVELOPER</option>
  <option value="TA">TA</option>
</select>

  <button type="submit">Add employee</button>
</form>