<p>new course</p>
<form id="form" action="/new-course" method="POST">
    <div class="form-group">
        <label for="name">
            <small>Name</small>
        </label>
        <br>
        <input class="form-control" type="text" name="name" placeholder="Angular4"> </div>
    <div class="form-group">
        <label for="startingDate">
            <small>Starting date</small>
        </label>
        <br>
        <input class="form-control" type="date" name="startingDate"> </div>
    <div class="form-group">
        <label for="endDate">
            <small>End date</small>
        </label>
        <br>
        <input class="form-control" type="date" name="endDate"> 
    </div>
    <div class="form-group">
        <label for="level">
            <small>Level</small>
        </label>
        <br>
        <input class="form-control" type="text" name="level" placeholder="Begginer"> </div>
    <div class="form-group">
        <label for="available">
            <small>Available</small>
        </label>
        <br>
        <input class="form-control" type="text" name="available" placeholder="true"> </div>
        <br>
        <br>
        <button class="btn btn-success">
            <small>Create course</small>
        </button>
</form>
<a href="/">
    <small>go home</small>
</a><br>
<a href="/courses">
    <small>all courses</small>
</a><br>