<form action="/employees/course" method="POST">
  <p>
    Name:
    <input type="text" name="name" required>
  </p>
  <p>
    Description:
    <input type="text" name="description">
  </p>
<select name="type">
  <option value="part-time">Part-time</option>
  <option value="bootcamp">Bootcamp</option>
</select>

  <button type="submit">Add Course</button>
</form>