<h2>Crea nuevos usuarios:</h2>

<form action="/new-user" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Platform's user">
    <br><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter password">

    <select class="form-control" id="role" name="role">
      <option>DEVELOPER</option>
      <option>TA</option>
    </select>
    

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    <br><br>

    <button>Añadir a la base de datos</button>


    </p>
</form>