<h2>Add a new user:</h2>
<form action="/user" method="post">
    <label>Username: <input type="text" name="username"></label><br><br>
    <label>Password: <input type="password" name="password"></label><br><br>
    <label>Role: <input type="text" name="role"></label><br><br>
    <button type="submit">New User</button>
</form>