<h1>Añade uno nuevo   </h1>
<form action="/auth/new" method="post">
<label for="username">Username</label>
  <input placeholder="Nombre" name="username" type="text">
  <select name="Role" >
      <option value="BOSS">Boss</option>
      <option value="DEVELOPER">Developer</option>
      <option value="TA">Ta</option>
  </select>
  <br>
  <label for="password">password</label>
  <input name="password" type="password">

  <label for="edad">edad</label>
  <input name="edad" type="number">

  <label for="email">Email</label>
  <input name="Email" type="email">
  
  <input type="submit">
</form>