<h2>Add new user</h2>

<form action="/users/new" method="post">
  <label for="">Username:</label>
  <input type="username" name="username">

  <label for="">Password:</label>
  <input type="password" name="password">

  <input type="radio" id="dev" name="role" value="DEVELOPER">
  <label for="dev">Developer</label>
  <input type="radio" name="role" value="TA">
  <label for="ta">TA</label>

  <button type="submit">ADD</button>
</form>

<p>{{message}}</p>