<h1>Add your USER</h1>
<form action="/views/new" method="POST">
    <label for="username">USERNAME</label>
    <input type="text" name="username">
    <label for="password">PASSWORD</label>
    <input type="text" name="password">
    <label for="role">ROLE</label>
    <input type="text" name="role">
    <input type="submit" value="Add NEW USER">
</form>