<div class="new">
  <h1>New Profile</h1>
  <form class="edit-form" action="/new" method="POST">
    <input required="required" type="text" name="username" placeholder="Username">
    <input required="required" type="password" name="password" placeholder="Password">
    <select name="role">
      <option>Developer</option>
      <option>TA</option>
    </select>
    <button type="submit">Save!</button>
  </form>
</div>