<form action="/new" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
  
    <label for="familyName">familyName</label>
    <input type="text" name="familyName" id="familyName">
  
    <label for="password">password</label>
    <input type="text" name="password" id="password">
  
    <label for="role">role</label>
    <textarea type="text" name="role" id="role"></textarea>
  
    <button type="submit">Create user</button>
  </form>
