<div class="form">
  <form action="/addCourse" method="POST">
    <div>
      <label for="name">name:</label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="role">type:</label>
      <select name="role" id="">
        <option value="Web" selected>Web</option>
        <option value="UX/UI">UX/UI</option>
        <option value="Data-Science">Data Science</option>
      </select>
    </div>
    <div>
      <label for="leadTeacher">Lead Teacher:</label>
      <input type="text" name="leadTeacher">
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" name="description">
    </div>
    <div>
      <input type="submit" value="Create">
    </div>
  </form>
</div>