
<h1> New Course </h1>
<form action="/add/course" method="post">
  <label for="name">Course Name</label>
  <input type="text" name="name" >

  <label for="date">Starting Date</label>
  <input type="date" name="startingDate">

  <label for="name">End Date</label>
  <input type="date" name="endDate">

  <label for="level">Level</label>
  <input type="text" name="level">

  <label for="available">Available</label>
  <input type="text" name="available">

  <input type="submit">
</form>
<%if( typeof errorMessage != "undefined"){%>
  <p><%= errorMessage %></p>
<%}%>
