<form action="/newCourse" method="POST">
<input placeholder="Course Name"  type="text" name="name">

<input type="submit" value="Add Course">
</form>

{{!-- <ul>
  {{#each course}}
  <li>{{this.name}}</li>
  {{/each}}
</ul> --}}