<div class="new">
  <h1>New Course</h1>
  <form class="edit-form" action="/newCourse" method="POST">
    <input required="required" type="text" name="name" placeholder="Name">
    <input required="required" type="text" name="teacher" placeholder="Teacher">
    <input required="required" type="text" name="duration" placeholder="Duration">
    <button type="submit">Save!</button>
  </form>
</div>