<form action="/newEmploye" method="POST">
<input placeholder="Username"  type="text" name="username">
<input placeholder="Role" type="text" name="role">
<input type="submit" value="Add Minnion">
</form>