<h2>New User</h2>
<form action="/users/newuser" method="POST">

<input type="text" name="username" placeholder="Name of the victim">
<input type="text" name="password" placeholder="Password">

  <label for="role">Role</label>

  <select name="role">
  <option value="BOSS">BOSS</option>
  <option value="DEVELOPER">DEVELOPER</option>
  <option value="TA">TA</option>
</select>


<input type="submit" value="Create a New User">
PEPITO FUE AL CAMPO Y SE CALLO AL RIO MIENTRAS ESTABA COMIENDO CON HEIDI.
</form> 