<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/users">Users</a>
<a href="/users/new">Add a user</a>
<a href="/courses">Courses</a>
<a href="/courses/new">Add a course</a>
<a href="/users/{{this._id}}/edit">Edit Profile</a>
<a href="/auth/logout">Logout</a>
