<div class="bg">
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/private">Home</a></li>
        </ul>

    </div>
</nav>
<div class="square">
  <form action="/auth/{{user._id}}/edit" method="POST">
  <div>
    <label for="">
      Name:
      <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="name" value="{{user.name}}">
    </label>
  </div><br>
  <div>
    <label for="">
      Lastname:
      <input class="uk-input uk-form-width-medium uk-form-small" type="text" name="lastname" value="{{user.lastname}}">
    </label>
  </div><br>
  <div>
    <label for="">
      E-mail:
      <input class="uk-input uk-form-width-medium uk-form-small" type="email" name="email" value="{{user.email}}">
    </label>
  </div><br>
  <button class="uk-button uk-button-default" type="submit">Submit</button>
</form>
</div>
</div>