<h1>Hi {{user.username}}</h1>

{{#is user.role "Boss"}}
<a href="/signup">Register New Employee</a>
{{/is}}

<a href="/employees">See all the employees list</a>


{{#is user.role "TA"}}
<a href="/courses">See All Courses</a>
{{/is}}