<h1>Hello, {{user.username}}</h1>
<h2>This is your user area once youre logged in</h2>

<a href="/logout">logout</a>
<br>
<a href="/admin-edit">Boss edit profiles</a>
<br>
<a href="/edit">TA + Developer edit profiles</a>
<br>
<a href="/courses">TA edit courses</a>

{{!-- {{#ifEquals user.role "BOSS"}}
<a href="/edit">Edit Users</a>
{{/ifEquals}} --}}