<h2>Empleados</h2>
<div>
  <ul>
  {{#each usuarios}}
  <li>{{this.username}} , {{this.role}}</li>
  <a href="/auth/delete/{{_id}}">Borrar</a>
  

  {{/each}}
  </ul>
  <a href="/auth/new">Crear uno nuevo</a>
  <a href="/auth/logout">Cerrar sesión</a>
</div>