<h1>Privateeee Boss</h1>

<form action="/create-use" method="POST">
    <input type="text" name="username" placeholder="Username" value="" required>
    <input type="password" name="password" placeholder="Password" value="" required>

    <select name="role" required>
        <option value="Boss">Boss</option>
        <option value="Developer">Developer</option>
        <option value="TA" selected>TA</option>
    </select>
    <input type="submit" value="Sign up">
</form>

<a href="/home">Ver listado</a>


