
<h1>This is your profile</h1>

<img width=300 src="https://vignette.wikia.nocookie.net/simpsons/images/1/14/La-familia-simpson.jpg/revision/latest?cb=20131003193439" alt="">
</br></br></br>

<ul> 
    <li>
        <a href="/auth/logout">Logout</a>
    </li>
    <li>
        <a href="/">Go Home</a>
    </li>
</ul>