<h2>Private page for Boss</h2>
{{#if user}}
  	<p>Welcome {{user.username}}</p>
	<br>
	<a href="/employes">Employes</a>
	<br>
	<a href="/employes/new">Add a new Employe</a>
{{/if}}

<br>

<div>
    <a href="/">Home</a>
</div>