<h2>Bienvenido</h2>
<ul>
  {{#each User}}
  <li>
    <h2>{{username}}</h2>
    <h3>{{role}}</h3>
    <form action="/user/{{_id}}/edit">
      <button type="submit"><i class="far fa-edit"></i></i></button>
    </form>
    <form action="/user/{{_id}}/delete" method="post">
      <button type="submit"><i class="far fa-trash-alt"></i></button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="/addUser"><i class="far fa-plus-square"></i> Add new</a>
</div>