<div>
  <h1>Profiles</h1>
  <ul>
    {{#each newUsers}}
    <li><a href="/profile/{{this._id}}">{{this.username}}</a></li>
    {{#if this.owner}}
    <button><a href="/edit/{{this._id}}">edit</a></button>
    {{/if}}
    {{/each}}
  </ul>
</div>