<h2>{{username}}</h2>
<h3>{{role}}</h3>
<a href="/update/{{_id}}"><button>Update</button></a><a href="/delete/{{_id}}"><button>Delete</button></a>
<a href="/logout"><button>Logout</button></a>
<a href="/list">Back</a>