<h2>{{myUser.username}}'s Profile</h2>
<label>Username: <span>{{myUser.username}}</span></label>
{{#ifEquals myUser.id user.id}}
<a href="/edit"><button>Edit</button></a>
{{/ifEquals}}
<a href="javascript:history.back()">Go back</a>