<h1>User</h1>
<h2>{{user.name}}</h2>
<h2>{{user.lastname}}</h2>
{{#if config.isBoss}}
<a href="/create-employee">Create employee</a>
{{/if}}
<br>
<br>
<a href="/edit-profile">Edit my profile</a>
<br>
<br>
<a href="/users">See al users</a>