<h1>¡Hola! Estas en tu perfil {{user.username}}</h1>

{{#if isBoss}}
<a href="/signup">Crear Empleados</a>
<a href="/list">Lista de empleados</a>
{{/if}}

{{#if isTa}}
<a href="/createCourse">Crear Cursos</a>
{{/if}}

