<h1>User</h1>
<ul>
  <p><a href ="/private">My profile</a></p>
    <li>   
        <strong>este es el perfil de {{user.name}}</strong>
        </a>
        <p>Que tiene el rol de {{user.role}}</p>
        </li>
</ul>

{{#if boss}}<form method = "POST" action=""> <button type="submit"> Delete</button></form>{{/if}}