<h1>Welcome
    <%= name %> your role is
        <%= role %>
</h1>
<a href="<%= id %>/edit">Edit your profile</a>

<ul>
    <% user.forEach((user) => { %>
        <li>
            <%= user.name%>
        </li>
        <%  }) %>
</ul>