<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
</head>
<body>
  <ul>
    <li>Username: <%=user.username%></li>
    <li>Name: <%=user.name%></li>
    <li>Family Name: <%=user.familyName%></li>
  </ul>
  <a href="/">Home</a>
</body>
</html>
