<h2>Sign in</h2>
<form action="/user" method="post">
    <label>Username: <input type="text" name="username"></label><br><br>
    <label>Password: <input type="password" name="password"></label><br><br>
    <button type="submit">Sign</button>
</form>