<form action="/signup" method="POST">
<input type="text" name="username" placeholder="user">
<input type="password" name="password" placeholder="Your password">
<select type="text" name="role">
  <option value="Boss">Boss</option>
  <option value="Developer">Developer</option>
  <option value="TA">TA</option>
</select>
{{#if message}}
<p>{{message}}</p>
{{/if }}

<button>Create account</button>
</form>