<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>
  <label for="group">Group</label>
  <select name="group">
    <option value="Boss">Boss</option>
    <option value="Developer" selected>Developer</option>
    <option value="TA">TA</option>
  </select> 
  <br><br>
  <button>Create account</button>
</form>