<form action="/admin/signup" method="post">
  <label for="username">username</label>
  <input type="text" name="username" id="username">
  <label for="password">passowrd</label>
  <input type="password" name="password" id="password">
  <select>
    <option value="DEVELOPER">Developer</option>
    <option value="TA">Ta</option>
  </select>
  <button type="submit">Signup</button>
</form>