<form action="/" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">

    <select name="role" required>
        <option value="BOSS">BOSS</option>
        <option value="DEVELOPER">DEVELOPER</option>
        <option value="TA">TA</option>
    </select>
    <input type="submit" value="Signup">
</form>