<h2>Register User</h2>
<form action="/signup" method="POST">
  <input type="text" name="username" value="" placeholder="name">
  <input type="text" name="password" value="" placeholder="password">
  <input type="text" name="role" value="" placeholder="role">
  <button type="submit">Create</button>
</form>