<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="text" name="password" placeholder="Your password">
  <br><br>
  <label for="tagline">Motto</label>
  <input id="tagline" type="text" name="tagline" placeholder="Dein Motto">
  <br><br>
<br><br>
  <button>Create account</button>
</form>