<h1>TA's PERSONAL PAGE</h1>

<a href="/editprofile">Edit your profile</a>
<br>
<a href="/userlist">View all users list</a>
<br>
<a href="/course">Create new Course</a>
<br>
<a href="/courselist">View Course List</a>

<br><br><br><br>
<a href="/">Index</a>
<br>
<a href="/logout">Logout</a>