<form action="/update" method="POST">
  <input type="text" name="username" value="{{username}}">
  <input type="password" name="password" value="" placeholder="New password">
  <input type="submit" value="Update">
</form>

<a href="/logout"><button>Logout</button></a>
<a href="/success">Back</a>