<h1>Editar usuario: {{user.username}}</h1>

<form action="/auth/edit?user_id={{user._id}}" method="post">
    <label for="">Nombre:</label>
    <input type="text" name="title" value="{{book.title}}"><br>

    

    <button type="submit">EDIT</button>
</form>