<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Boss!

  <ul>
  <% userId.forEach((user) => { %>
    <li>
      <%= user.name %>
      <a href="/users/<%= user._id %>">View Details</a>
    </li>
  <%  }) %>
</ul>

  
</body>
</html>