<h1>User Profile</h1>
<ul>
  <li>
    Username:
    <%= username %>
  </li>
  <li>
    Name:
    <%= name %>
  </li>
  <li>
    Family Name:
    <%= familyName %>
  </li>
  <li>
    Role:
    <%= role %>
  </li>
</ul>