
<div class="usersContainer">
  <h2>This is the list of users</h2>

  {{#each users}}
    {{> userList}}
  {{/each}}

  <a href="/users/add" class="btn btn-secondary btnAdd roundedBtn w100">Add user</a>
</div>
