<h2>Edit User:</h2>
<form action="/users/edit-new/{{oneuser._id}}" method="POST">

  <input type="text" name="username" placeholder="username" value="{{oneuser.username}}">
  <input type="text" name="role" placeholder="role" value="{{oneuser.role}}">

  <input type="submit" value="Edit data of user">

</form> 