<p>
    viewing profile:
</p>
<small>username: <%= user.username %></small><br>
<small>name: <%= user.name %></small><br>
<small>family name: <%= user.familyName %></small><br>
<small>role: <%= user.role %></small><br><br>
<a href="/">
    <small>go back</small>
</a>