<h1>Welcome {{user.username}} to I.B.I users portal</h1>


<a href="/manage-users">Manage users</a>
<br>
<a href="/list-users">List users</a>
<br>
<a href="/edit-user">Edit my user</a>
<br>
<a href="/manage-courses">Manage courses</a>