# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
# temporary removed from .gitignore so the PORT stays accessible after clonning the repo
# .env
