<h1>Help Mail</h1>

<div class="col-sm-6">
    <form action='/help/create' method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="email" placeholder="Email" name="email">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" id="text" placeholder="Text" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send Mail</button>
    </form>
</div>