<form action="/portal/courses/addCourse" method="post">
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="startingDate">Starting Date</label><br>
  <input type="date" id="startingDate" name="startingDate"><br>
  <label for="endDate">End Date</label><br>
  <input type="date" id="endDate" name="endDate"><br>
  <label for="level">Level</label><br>
  <input type="text" id="level" name="level"><br>
  <label for="available">Available</label><br>
  <input type="checkbox" id="available" name="available">
  <br>
  <button>Add course</button>
</form>
  <a href="/portal/courses/"><button>Go back</button></a>
