<form action="/employee/add" method="post">
  <input type="text" name="username" id="">
  <input type="text" name="password" id="">
  <select name="role" id="">
    <option value="GUEST">GUEST</option>
    <option value="DEV">DEV</option>
    <option value="TA">TA</option>
    <option value="STUDENT">STUDENT</option>
  </select>
  <button type="submit">ADD EMPLOYEE</button>
</form>