<h1>Hola Boss</h1>
<h2>Que quieres hacer</h2>
<p><a href="/signup">Crear Usuario</a></p>

<p>Lista de esclavos</p>
<div>
    <ul>
        {{#each users}}
            <li><a href="">{{this.username}}</a></li>
        {{/each}}
    </ul>
</div>
