<body>
  <h2>{{username}}</h2>
  <h4><b>Email:</b> {{email}}</h4>
  <h4><b>Rol:</b> "{{role}}"</h4><hr><br>
    <a href="/ironhack/users">Back</a>
    <a href="/ironhack/delete/{{this._id}}" >Eliminar usuario</a>
</body>