<div>Private page</div>
{{#if user}}
  <div>
    <h1>yo Private Space, mate</h1>
    <h1>Entirely 4 u<span style="color: red;">{{ user.username}}</span></h1>
    <img src="https://media.giphy.com/media/nY7hDTMiBpxjq/giphy.gif" alt="You rock.">
    <a href="/">Index</a>
  </div>
{{/if}}