<h1>Add user</h1>
<form action="/addUser" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <select name="rol" id="">
    <option value="boss">Boss</option>
    <option value="developer">Developer</option>
    <option value="ta">TA</option>
  </select>
  <button type="submit">Add user</button>
</form>