<h2>Login Form</h2>

<form action="/process-login" method="POST">
  <label>
    Email:
    <input type="text" name="email" placeholder="e.g. han@smugglers.com">
  </label>
  <br>

  <label>
    Password:
    <input type="password" name="password" placeholder="e.g. ******">
  </label>

  <button>Log In</button>


</form>