<h2>Log In</h2>

<form action="/process-login" method="POST">
  <label>
    Email:
    <input type="text" name="email" placeholder="Your email here">
  </label>
  <br />
  <label>
    Password:
    <input type="password" name="password" placeholder="Your password here">
  </label>
  <br />
  <button>Log In</button>
</form>