<h2>Add Employee</h2>

{{!-- {{> flashMessages}} --}}

<form action="/process-signup" method="POST">
  <label for="">
    Name:
  <input type="text" name="fullName" placeholder="e.g Han Solo">
  </label>
  <br>
  <br>

  <label for="">
    Email:
  <input type="text" name="email" placeholder="e.g han@smugglers.com">
  </label>
  <br>
  <br>

  <label for="">
    Password:
  <input type="password" name="password" placeholder="e.g ********">
  </label>
  <br>
  <br>
  <label for="">
  Role:
  <input type="text" name="role" placeholder=" e.g. Developer, TA">
  </label>
  <br>

  <br>
  <button>Add</button>
</form>