<h2>Sign Up</h2>

<form action="/process-signup" method="POST">
  <label>
    Your Full Name:
    <input type="text" name="fullName" placeholder="Your full name here">
  </label>
  <br />
  <label>
    Email:
    <input type="text" name="email" placeholder="Your email here">
  </label>
  <br />
  <label>
    Password:
    <input type="password" name="password" placeholder="Your password here">
  </label>
  <br />
  <button>Sign Up</button>
</form>