<div class="container">
  <div class="row">
    <div class="col">
      <h1>Create user</h1>
    </div>
  </div>
  <div class="col">
    <form action="/boss/create" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="username">
      <br>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" placeholder="password">
      <br>
      <select name="user_type" id="user_type">
        <option value="BOSS">Boss</option>
        <option value="TA">TA</option>
        <option value="DEVELOPER">Developer</option>
      </select>
      <br>
      <input type="submit" value="Create user">
    </form>
  </div>
</div>