<h1>Bienvenido Jefazo {{username}}!</h1>
<p>
  <a href="/boss/signup">Registrar nuevo esclavo</a>
</p>
<p>
  <a href="/boss/profile">Perfil</a>
</p>
<p>
  <a href="/list">Otros usuarios</a>
</p>
<p>
  <a href="/">Log out</a>
</p>
