<h2> Add new employee</h2>
<form method="POST" action="/admin/new" id="newemployee">
Username: <input type="text" name="username"> 
Password: <input type="text" name="password"> 
Role: 
<select name="role" form="newemployee">
  <option value="developer">Developer</option>
  <option value="TA">TA</option>
</select>
<input type="submit" value="Create new employee">
</form>