<form action="/course/addCourse" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" required>

  <br><br>
  <label for="description">Description</label>
  <input type="text" name="description" id="description" required>
  <br><br>

  <button>Add Course</button>
</form>