<form action="/create" method="post">
  <label for="title">Title</label>
  <br>
  <input type="text" name="title" id="title">
  <br>
  <label for="desc">Description</label>
  <br>
  <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
  <br>
  <input type="submit" value="Create">
</form>