<p>
    {{course.name}}
    <br>
    <br>
    <a href="/course/edit/{{course._id}}"><button>Edit</button> </a>
    <br> <br>
    <a href="/course/delete/{{course._id}}"><button>Delete</button> </a>
    <br> <br>
    <a href="/course"><button>Go Back</button> </a>

</p>