<div class="text-center">
    <h2>Course List</h2>
    <ul class="list-unstyled">
        <% courses.forEach(course => { %>
            <li> <a href="/course/<%= course._id %>"> <%= course.name %> </a> </li>
        <% }) %>
    </ul>

</div>