<h3>New Course</h3>
<form action="/courses/new" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" >
  <br><br>
  <label for="startingDate">Starting Date: </label>
  <input type="date" name="startingDate" >
  <br><br>
  <label for="endDate">End Date: </label>
  <input type="date" name="endDate" >
  <br><br>
  <label for="level">Difficulty: </label>
  <input type="text" name="level" >
  <br><br>
  <label for="available">Available: </label>
  <input type="Boolean" name="available" >
  <br><br>
  <input type="submit" value="Add">
</form>
