<h1>CREATE USER</h1>

<div class="col-sm-6">
    <form action='/users/create' method="POST">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input type="password" class="form-control" id="empassword" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Create user</button>
    </form>
</div>
