<div class="container">

    <h1>{{user.username}}</h1>

    <hr>

    <div class="row justify-content-around">

        <div class="col-md-4">

            <h3>Detalles</h3>

            <hr>

            <p><strong>Usuario:</strong> {{user.username}}</p>
            <p><strong>Descripción:</strong> {{user.description}}</p>

            <a href="/users" class="btn btn-dark">Volver a los usuarios</a>

        </div>

       
        </div>
    </div>


    