<h1>Welcome to The User Page</h1>

<a class="btn btn-xs btn-warning" type="submit" href="/users/<%= user._id %>/edit">Edit Your Profile</a>

<br>
<br>
<div class="row">
  <div class="col-xs-3"><strong>Username</strong></div>
  <div class="col-xs-3"><strong>Role</strong></div>
  <div class="col-xs-3"><strong>Name</strong></div>
</div>
<% users.forEach(user => { %>
<div class="row">
  <div class="col-xs-3"><%= user.username %></div>
  <div class="col-xs-3"><%= user.role %></div>
  <div class="col-xs-3"><%= user.name %></div>
</div>
<% }); %>
