<div class="container">
    <div class="row">
        <div class="col-sm-6" style="border: 1px solid black; border-radius:3px;">
            <p>EMAIL: {{user.email}}</p>
            <p>ROLE: {{user.role}}</p>
            <p>PHRASE: {{user.catchPhrase}}</p>
            {{!-- {{#isBOSS passportSession}} --}}
            <a href="/users/{{user.id}}/edit">edit profile</a>
            {{!-- {{/isBoss}} --}}
        </div>
    </div>
</div>
