<div class="container">

    <h1 class="text-center">Welcome {{user.username}}!</h1>   

    <div class="text-center">
        <a href="/logout" class="btn btn-dark">Log out</a>
    </div>     

</div>