<div class="container">

    <h1>¡Bienvenid@ a tu perfil {{user.username}}!</h1>
    <p>Tu rol es:{{user.role}}</p>
    <p>Descripción:{{user.description}}</p>
    <hr>

    
    <a href="/profile/edit" class="btn btn-dark">Editar perfil</a>
    <a href="/logout" class="btn btn-dark">Cerrar sesión ahora</a>

</div>