<h1> Your account </h1>
<h3>Name : {{theUser.name}}</h3>
<h3>Username: {{theUser.username}}</h3>
<h3>Role: {{theUser.role}}</h3>
<a href="/change-your-account-information">Change your account information</a>