<form method="POST" action="/process-login">
    <label>
        Username:
        <input type="text" name="username" placeholder="Your username">
    </label>
    <label>
        Password:
        <input type="password" name="password" placeholder="Your password">
    </label>
    <button>Log in</button>
</form>