<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Passport roles app</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/newuser">Create user</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/profiles">See profiles</a></li>
    <li><a href="/logout">Log out</a></li>
  </nav>
  <%- body -%>
</html>
