<!DOCTYPE html>
<html>

<head>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
  
  </nav>
  <%- body -%>
</body>

</html>