<h2>Sign-up</h2>
<form action="/signup" method="POST">
    <label >Username</label>
    <input type="text" name="username">
    <br><br>
    <label>Password</label>
    <input type="password" name="password">

    {{#if message}}
    <p style="color: red">{{ message }}</p>
    {{/if}}

    <br><br>

    <button>signup</button>
</form>

<a href="/">Go back</a>