<h1>Edit user in ddbb</h1>

<form action="/allUsers/edit?users_id={{users._id}}" method="post">
  <label for="">Username:</label>
  <input type="text" name="title" value="{{this.username}}"> <br><br>

  <label for="">Role:</label>
  <input type="text" name="text" value="{{this.role}}"> <br><br>

  <button type="submit">EDIT</button>
</form>