<h1>Welcome, shitty TA.</h1>

<div class="btn-group title" role="group" aria-label="...">
  <a href="/addservant"><button type="button" class="btn btn-default">Add servant</button></a>
  <a href="/removeservant"><button type="button" class="btn btn-default">Remove servant</button></a>
  <a href="/"><button type="button" class="btn btn-default">Index</button></a>
</div>
