<h2>Add course</h2>
<form action="/courses/add" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="Name">
  <br><br>
  <label for="startingDate">Starting date:</label><br>
  <input type="date" id="startingDate" name="startingDate" placeholder="Starting Date">
  <br><br>
  <label for="endDate">End date:</label><br>
  <input type="date" id="endDate" name="endDate" placeholder="End date">
  <br><br>
  <label for="level">Level:</label><br>
  <input type="text" id="level" name="level" placeholder="Level">
  <br><br>
  <label for="available">Available:</label><br>
  <input type="text" id="available" name="available" placeholder="Available">
  <br><br>
  <button type="submit">Create</button>
</form>
