<h3>{{course.title}}</h3>
<p>{{course.description}}</p>
<p>{{course.students}}</p>
<form action="/courses/{{course._id}}/edit" method="post">
  <button type="submit">Edit course</button>
</form><br><br>
