<form action="/courses/{{_id}}" method="POST">
  <label for="title">name: </label><input type="text" name="name" value='{{name}}'>
  <label for="picture">duration: </label><input type="text" name="duration" value={{duration}}>
  <button>edit</button>
  <a href="/courses">cancel edition</a>
</form>