
<div class="flex-cloumn">
  
  <h2>Courses</h2>

  <div class="flex-column">
    {{#each course}}
    <div class="flex courses">
        <h4>{{this.name}}</h4>
        
    </div>
    {{/each}}
  </div>

</div>