<h1>New Course</h1>

{{#if message}}
  <div class="message">{{message}}</div>
{{/if}}

<form action="/create-course" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title">
  <label for="duration">Duration:</label>
  <input type="text" name="duration">
  <button type="submit">Create Course</button>
</form>

<a href="/">Back to Home</a>