<h1>Create course</h1>
<form action="/courses/create" method="POST">
  <p>
    Title
    <input type="text" name="title">
  </p>
  <p>
    Content:
    <input type="text" name="content">
  </p>
  <input type="submit" value="Create">
</form> 