<form action="/courses" method="POST">
  <input type="text" placeholder="course name" name="name">
  <input type="text" placeholder="duration" name="duration">
  <button>Create Course</button>
</form>