<h2>Edit the Course</h2>
<form action="/Courses/{{_id}}/edit" method="post">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title" value="{{title}}">
  <label for="discipline">discipline: </label>
  <input type="text" name="discipline" id="discipline" value="{{discipline}}">
  <label for="duration">duration: </label>
  <input type="text" name="duration" id="duration" value="{{duration}}">
  <button type="submit">Edit Course</button>
</form> 