<h2>List of Courses</h2>
{{#each courses}}
  <p>{{this.name}}</p>
  <a href="/courses/{{this._id}}">Details</a>
  <form action="/courses/{{this._id}}/delete" method="post">
    <button type="submit">DELETE</button>
  </form>
  <form action="/courses/{{this._id}}/edit" method="get">
    <button type="submit">EDIT</button>
  </form>
{{/each}}
<br><br>
<a href="/courses/new">ADD NEW!!</a>