<div>
  <h2>Courses List</h2>
  <ul>
    <% courses.forEach( e => { %>
      <li><%= e.name %>  | <a href="">View</a> | <a href="/courses/<%= e.id %>/edit">Edit</a> | <a href="/courses/<%= e.id %>/delete">Delete</a></li>
    <% })%>
  </ul>
</div>
