<h2>Add new course</h2>

<form action="/courses/add/new" method="POST">

<label for="title">Title:</label>
  <input type="text" name="title"><br>
<label for="duration">Duration (in mins)</label>
  <input type="number" name="duration"><br>
<label for="startDate">Start Date:</label>
  <input type="date" name="startDate"><br>


<button type="submit">Add new</button>


</form>