<h2>New course:</h2>
<div class="celebrity-wrapper">
<form action="/courses" method="POST">
<input type="text" name="title" value="The Goodfather" placeholder="title">
<input type="text" name="description" value="Drama, Mafia, Crime" placeholder="description">
<input type="submit" class="submit" value="Create">
</form>
<a href="/courses">Go back</a>
</div>