<h2>Add a new course (only the TAs)</h2>
<form class="styled" action="/courses/new" method="post">

    <label>Title: <input type="text" name="title"></label><br><br>
    <label>Description: <input type="text" name="description"></label><br><br>
    {{!-- <label>Students: <input type="text" name="students"></label><br><br> --}}

    <button type="submit">Send</button>
</form>

