<body>
  <form action="/courses/new" method="post">
  <label for="name">Name</label><br>
  <input type="text" name="name" placeholder="Super Course">
  <br><br>
  <label for="startingDate">Starting Date</label><br>
  <input type="date" name="startingDate" placeholder="Starting Date">
  <br><br>
  <label for="endDate">End Date</label><br>
  <input type="date" name="endDate" placeholder="End Date">
  <br><br>
  <label for="avaliable">Avaliable</label><br>
  <select name="avaliable">
    <option value="true">True</option>
    <option value="false">False</option>
  </select>
  <br><br>
  <label for="level">Level</label><br>
  <select name="level">
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
  </select>
  <br><br>
  <button>Create!</button>
</form>
<%if (typeof(errorMessage)!== "undefined") { %>
  <%=errorMessage%>
<%}%>
</body>
