<form class="" action="/courses" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name">
  <label for="startingDate"> Starting-Date:</label>
  <input type="date" name="startingDate">
  <label for="startingDate"> endDate:</label>
  <input type="date" name="endDate">
  <label for="level">Level:</label>
  <select name="level">
    <option value=""></option>
    <option value="Advanced">Advanced</option>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
  </select>
  <input type="checkbox" name="available" value="true">
  <input type="submit">
</form>
