<form action="/courses" method="POST">
    <input type="text" name="title" placeholder="Title" value="" required>

    <select name="type" required>
        <option value="Part Time">Part Time</option>
        <option value="Full Time">Full Time</option>
    </select>

     <select name="location" required>
        <option value="Madrid">Madrid</option>
        <option value="Barcelona">Barcelona</option>
    </select>


    <input type="submit" value="Create course">
</form>