<form id="form" action="/courses/new" method="POST">
    <h2>Register course!</h2>
    <label for="name">Course name</label><br>
    <input type="text" name="name" placeholder="Course name" required>
    <label for="description">Course description</label><br>
    <input type="text" name="description" placeholder="Course description" required>
    <button type="submit">Create course</button>
</form>