<form action="/courses/new" method="post">
    <input placeholder="name" type="text" name="name" >
    <input placeholder="Starting date" name="startingDate" type="date">
    <input placeholder="Ending date" name="endDate" type="date">
    <input placeholder="Level" name="level" type="text">
    <input type="submit">
</form>

