<dialog href="/empleados">Volver a la lista</dialog>

<h2> Add a book </h2>

<form action="/empleados/crearEmpleado" method="post">
  <label for="">Title:</label>
  <input type="text" name="title">

  <label for="">Author:</label>
  <input type="text" name="author">

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="">Rate:</label>
  <input type="number" name="rating">

  <button type="submit">ADD</button>
</form>

</br>
</br>